[2017-11-05 22:17] sgehrman opened #13 "Petshop tutorial problem"
Not sure if it was something I did, but I got to the end of the petshop demo and ran it and all the pets were marked adopted and had the success button.  I was unable to adopt.

[2017-11-08 20:18] bmmpxf commented on #13
Hi @sgehrman . Sorry you're having problems. In order for us to troubleshoot, we'd need to know a bit more information on how to reproduce the issue. Since the tutorial involves editing text files, we'd want to see yours to make sure there are no syntax errors. Also, did you encounter any other issues along the way? Did all of the tests run?

We just did an update of the tutorial, so I've tested i

[2017-11-09 19:59] bmmpxf opened #18 "Use 127.0.0.1 instead of localhost in docs"
As per https://consensys.slack.com/messages/C1D2T7NLC/

When offline, TestRPC / Truffle Develop fails with an `Invalid JSON RPC response` error.

The problem is that `localhost` needs to be resolved. Switching the network connection string to use `127.0.0.1` instead of `localhost` removes the need for a network lookup.

We need to update our content to reflect this.

[2017-11-10 01:47] bmmpxf opened #22 "Rearrange website page titles"
Truffle website page titles are currently of the form "TruffleFramework.com | {page title}"

This means that with lots of tabs open, you can't see which page is which unless you hover over the tab:

![image.png](https://images.zenhubusercontent.com/59c2ed14b0222d5de4788760/0f10672a-1186-465d-a77a-1d4bc6a6065a)

Compare with the [Solidity docs](http://solidity.readthedocs.io/en/latest/contracts.htm

[2017-11-11 21:14] carlzoo commented on #13
I also am not clear where to get 100 ethers to run the contract. When I created account on metamask I have 0 ethers.

[2017-11-11 21:24] saneletm opened #25 "both pet-shop and zeppelin tutorial's app.js have function that needs a missing event arguments"
pet-shop tutorial handleAdopt() function should take an event argument. it should be handleAdopt(event)
for the next line event.preventDefault();   and var petId = parseInt($(event.target).data('id'));  to work.

zeppelin tutorial app.js handleTransfer() function  also needs the same improvement for the subsequent  line to work.

[2017-11-11 21:26] saneletm commented on #25
I would like to do a pull request and fix these two if its agreed that they are legitimate

[2017-11-13 16:47] bmmpxf commented on #13
@carlzoo Make sure that Metamask is connected to the right network. Also, make sure that the account you're looking at in MetaMask is the same account as the first account listed when you first ran Truffle Develop. Only that account should have the 100 ether.

If you need more assistance, please check out our [Gitter](https://gitter.im/ConsenSys/truffle). The community is here to help!

[2017-11-13 21:29] DiscRiskandBisque commented on #25
Good catch @saneletm  thank you!

No need to PR, I've modified both to explicitly pass the event (https://github.com/truffle-box/pet-shop-box/pull/8 + https://github.com/truffle-box/tutorialtoken-box/pull/9).

As always if you're still experiencing issues after these updates please re-open.

[2017-11-13 21:29] #25 closed

[2017-11-20 16:38] saneletm commented on #25
awesome! thanks!

[2017-11-21 01:10] saneletm opened #30 "metamask incorrect nonce when using truffle develop testrpc"
I am trying to find the course for this issue. https://github.com/MetaMask/metamask-extension/issues/2373

I have a feeling it has to do with the accounts the truffle develop testrpc generates.
It might have to do with  the fact that the Mnemonic: `candy maple cake sugar pudding cream honey rich smooth crumble sweet treat` is always used. Can this be randomized and changed per instance of the truf

[2017-11-21 01:12] saneletm commented on #30
I will try to find and paste the exact error when I come across it online. its hard to copy it from metamask because it is just on a tooltip that appear when you hover your mouse over the "failed" string next to the transaction on metamask.

[2017-11-22 01:16] imshubhamsingh commented on #13
@sgehrman and @carlzoo I also faced the same problem few hours ago. I didn't run truffle migrate just before starting the dApp. Migrations are JavaScript files that help you deploy contracts to the Ethereum network. If you didn't complete the tutorial in one go, you need to run `truffle develop` command and then `truffle(develop)> migrate` again. It solved my problem.

[2017-11-27 19:46] bmmpxf commented on #13
Hi @sgehrman . I'm going to close this issue, but if you're still having problems, please feel free to reopen and provide us with more information on how to reproduce your experience. Thanks!

[2017-11-27 19:46] #13 closed

[2017-11-27 20:41] bmmpxf commented on #22
Done! Favicons fixed too.

![image](https://user-images.githubusercontent.com/506694/33288192-3c602e12-d370-11e7-93a5-16d0961eec02.png)

[2017-11-27 20:41] #22 closed

[2017-12-01 18:37] bmmpxf commented on #30
Hi @saneletm . Thanks, we're definitely familiar with this issue. I've encountered it multiple times personally.

It's a tossup on whether it's a Truffle or MetaMask issue to be honest. MetaMask should be able to reset its network history when something has changed. Truffle Develop arguably should be able to change its mnemonic.

But I think the MetaMask team is going to beat us to the solution, a

[2017-12-01 19:13] saneletm commented on #30
sounds good, thanks!

[2017-12-14 07:52] MrThiago commented on #13
Hello guys. I am having the same issue.
i already have my personal Meta Mask Account.

How to get the 100ETH for the dev account ?

[2017-12-14 21:58] imshubhamsingh commented on #13
Just add a new custom rpc with the url as seen on truffle develop and switch to that network

[2017-12-15 00:13] MrThiago commented on #13
I did that.
The demo works. But I can’t test the adoption because there is no ETH In the custom rcp

[2017-12-15 00:23] imshubhamsingh commented on #13
Ok, now there is only one thing that comes to my mind, remove metamask and install it again. But this time use Import Existing DEN. Then put in Mnemonic as provided by truffle. After that use custom rpc. I think now it should work.

[2017-12-23 00:14] bmmpxf commented on #18
Addressed with #41 .

[2017-12-23 00:14] #18 closed

[2018-01-12 12:06] plash29 opened #64 "Contract: MetaCoin should send coin correctly: Error: Invalid number of arguments to Solidity function"
$ truffle test
Using network 'development'.

Compiling .\contracts\ConvertLib.sol...
Compiling .\contracts\MetaCoin.sol...
Compiling .\test\TestMetacoin.sol...
Compiling truffle/Assert.sol...
Compiling truffle/DeployedAddresses.sol...

Compilation warnings encountered:

/E/webpack/test/TestMetacoin.sol:9:3: Warning: No visibility specified. Defaulting to "public".
  function testInitialBalanceUsin

[2018-01-12 19:58] bmmpxf commented on #64
Hi @plash29 . Sorry you're having issues. MetaCoin is used in a few different places. Can you tell us what specific Truffle Box you were using or what tutorial you were following?

[2018-01-16 18:46] wbt opened #66 "Migrations require: filename or not?"
In the [migrations documentation](http://truffleframework.com/docs/getting_started/migrations), specifically in the [artifacts.require() section](http://truffleframework.com/docs/getting_started/migrations#artifacts-require-), there is a statement, emphasis original:

Yet in the default and example files, filenames are specified.  At this point, I'm not completely sure if it's the examples or the

[2018-01-25 07:20] jetseter opened #72 "can not compile(zeppelin-solidity has changed)"
![image](https://user-images.githubusercontent.com/7477261/35375584-8329e91e-01e2-11e8-9d59-eeb3197f061e.png)

we should install zeppelin-solidity 1.5.0

because
1.MintableToken‘s folder has changed
2.totalSupply can not found
![image](https://user-images.githubusercontent.com/7477261/35375687-ebd5d9fa-01e2-11e8-99d3-1a78bb32eda6.png)

[2018-02-21 04:18] MajjigaDeepak opened #83 "Couldn't see private transactions at node 7 even after using "Private For" - Quorum"
HI,
I am trying to create private transactions using quorum and facing below error,

I removed private for in migrations file and tried, The transactions is public , i am able to see transactions from all nodes.

I included private for  node 7 public key as per tutorial in migrations file and tried, The transaction in private , i can only see the transaction from node 1 , i couldn't see transactio

[2018-02-21 23:48] bmmpxf commented on #30
Thanks for the update @eumend !

[2018-02-21 23:48] #30 closed

[2018-02-21 23:50] bmmpxf commented on #72
Hi @jetseter . Thanks for pointing that out. We've updated the tutorial to be compatible with zeppelin-solidity 1.5.0. If you encounter more issues with the tutorial, please let us know!

[2018-02-21 23:50] #72 closed

[2018-02-21 23:55] bmmpxf commented on #66
Hi @wbt . The artifacts.require() should indeed match the name of the contract, not the name of the contract file. So the documentation is correct.

I believe it wasn't always that way, which accounts for the discrepancy. But we're in the process of updating our materials to use the recommended behavior. I'll dig into this, but if you'd like to point out specific discrepancies you've noted, that w

[2018-02-23 23:06] naure opened #86 "Do not recommend importing from node_modules"
Referring to this page: http://truffleframework.com/docs/getting_started/packages-npm

It's fine to fetch dependencies using npm initially. However, smart contracts are subject to subtle bugs, so you really don't want dependencies to update automatically, even with semantic versioning. That could also bring malicious code, or invalidate audits. Developers should actually read the third party code

[2018-03-01 07:48] msedd opened #89 "Pet-Shop Tutorial truffle test"
truffle test didn´t work for me in the Pet-shop Tutorial

[code]

if I try it outside of the running truffle env:

[code]

I´ve created a javascript file:

[code]
and have added the first line into the generated file

[code]

now the tests are running, but I get a new error:

[code]

[2018-03-13 22:18] HGBG commented on #13
nor reset, from the settings menu, nor reinstall did work for me. I have eth in my wallet to run the transaction but metamask is simply not opening when the button "adopt" is pressed. Any extra advice?

[2018-03-18 01:01] justinchou opened #93 "Want to translate the site to Chinese Version."
I am really interested in truffle and ganache, but i find there's little docs about it in Chinese. So I want have it translated to Chinese. Is this Allowed?

[2018-03-18 01:05] justinchou opened #94 "npm run dev endless browser reload"
when run `npm run dev` or just run `node dev.js`, the endless browser sync reload starts.

By change the config of browsersync will help.

[code]

it exclude the 'build' folder generated by auto-build.

[2018-03-19 17:16] bmmpxf commented on #93
Hi Justin. Thanks for your interest! Documentation help is _always_ appreciated.

I think a good first step would be to host your translation documentation somewhere else, and we'd be happy to link to it on our official docs. Over time, if we can integrate our processes sufficiently, we might be able to host your content as part of our official site. But let's start out with a link. Sound good?

[2018-03-19 17:45] bmmpxf commented on #93
Closing this for organizational reasons, but feel free to respond here.

[2018-03-19 17:45] #93 closed

[2018-03-19 18:41] bmmpxf opened #97 "Add HTTPS"
We should be able to have `https://truffleframework.com` without errors.

[2018-03-20 16:46] BeFiveINFO commented on #13
@HGBG and others

Try:

* Make sure that your Ganash is launched and working properly.
* Find your MNEMONIC. That appears in the most visible part in the Ganash front end UI.

1. Logout MetaMask
2. Open the little window by clicking on the foxy icon, Find a link that reads "Restore from seed phrase".
3. Copy and Paste the MNEMONIC into Wallet Seed text field.
4. Enter your password and login to Me

[2018-03-26 05:37] gewuxy opened #98 "pet shop tutorial problem"
<img width="1227" alt="2018-03-26 13 33 04" src="https://user-images.githubusercontent.com/8190691/37888568-c1f7b512-30fa-11e8-9734-8e953707be81.png">
it seems that the pets are not loaded

[2018-03-26 05:56] gewuxy commented on #98
I follow this link: http://truffleframework.com/tutorials/pet-shop

[2018-03-29 14:14] blacar commented on #13
Same issue as @HGBG , nothing is happening when we click on the "adopt" button.
Also nothing appear at chrome console.

[2018-04-04 23:30] bmmpxf opened #100 "Add tutorial for watching events"
The `truffle exec` command could be better explained. And more info on watching events is a common question.

[2018-04-07 10:51] Aliasgharmohammad opened #102 "Pet-Shop Tutorial truffle test error"
**hi i have been following pet-shop-tutorial and when i run truffle test I face with following error
thanks in advance**

Error parsing C:\pet-shop-tutorial\test\TestAdoption.sol: ParsedContract.sol:14:5: ParserError: Expected pragma, import
directive or contract/interface/library definition.
    function testUserCanAdoptPet() public {
    ^

Using network 'development'.

Compiling .\contracts\Ado

[2018-04-08 09:54] minzhenye commented on #102
Hi, I encountered same problem. Have you found the reason?

[2018-04-12 07:29] Aliasgharmohammad commented on #102
hi not yet  I hope someone can help
ok what do you think is the problem
i will try and if you find please share

[2018-04-12 10:09] Aliasgharmohammad commented on #102
Hi Thanks Allah I found the answer according to beloved Travis Rivera on StackExchange the problem relates to the version of truffle we use here the solutoin copyed from his answear

There is something wrong with the latest truffle version. To solve this problem I had to do the following things to find a truffle version that worked.

First check for available versions of truffle with the following

[2018-04-12 10:14] Aliasgharmohammad commented on #102
the way you specify the version you intend to download is such this##  npm install -g truffle@4.1.4

[2018-04-15 19:51] pbrudny commented on #13
Thank You @BeFiveINFO This helped me a lot.
Now is see that the problem occurs when using both `Ganache` and `truffle develop` and mixing ports and their mnemonics. It's actually mentioned in the note:
[code]

[2018-04-16 18:26] bmmpxf commented on #102
Hi there. Thanks for the report. I'll take a look at the tutorial against the latest version of Truffle and see if I can reproduce it here.

[2018-04-16 23:27] bmmpxf opened #105 "Remove truffle-config.js"
I'd like to suggest that we remove the `truffle-config.js` file from our templates (Truffle boxes and the output of the `truffle init` command). It was only ever relevant on Windows, and we now have multiple documented workarounds such that it's not necessary.

http://truffleframework.com/docs/advanced/configuration#resolving-naming-conflicts-on-windows

Also, it seems to confuse people, who don't

[2018-04-16 23:29] bmmpxf commented on #105
Whoops, wrong repo. Moving to the main truffle repo.

[2018-04-16 23:29] #105 closed

[2018-04-17 08:33] plm75 opened #106 "'call is not a function error' in Pet-Shop tutorial"
I get this error in the browser console when running the app and the UI does not reflect past transactions (ie adopt button is not disabled).

Removing the 'call()' and simply using `return adoptionInstance.getAdopters()` updates the UI during the initial page load but does not update after a new transaction.

[2018-04-17 09:19] FabiolaBusch opened #107 "pet shop: adoption not possible"
I followed all the steps in the [pet-shop tutorial](http://truffleframework.com/tutorials/pet-shop) and Pete's pet shop is presented nicely, but when I click on 'Adopt' and confirm the transaction on MetaMask, MetaMask gets stuck.

![meta1](https://user-images.githubusercontent.com/19983973/38860593-d2132b24-4230-11e8-9603-66eed25a6918.png)

I close MetaMask, open it again and the transaction seem

[2018-04-17 09:28] FabiolaBusch commented on #107
Oh, solved it.

I re-initated Ganache with a new seed phrase, deleted build files, ran `truffle compile`, `truffle migrate --restart` and `npm run dev` and then I could adopt pets successfully.

Has anyone an explanation why it didn't work with the seed (e.g. the local blockchain) which I used previously?

[2018-04-18 16:21] samir-85 opened #109 "Pet-Shop: Success Button not showing up dynamically"
Hi everyone,

I just tested your pet shop tutorial which is really nice.

I noticed that when I adopt a pet, the success button is not showing immediately. Instead I need to refresh the web page to see the success button.

Somehow the entry in _adopters_ is still _0x0000000000000000000000000000000000000000_ during the markadopted() call. However sind _markadopted()_ is executed as promise after th

[2018-04-22 21:15] ItIsAMess commented on #109
Hi Samir,

I encountered exactly the same problem. My guess is that the contract instance is loaded before the contract is updated with the new account, causing the old data to be used for the markAdopted() function.

Best practice would probably be to reload the contract instance and its data after the contract is updated, but I have no clue how to do that in this promise chain.

I have a workaro

[2018-04-28 11:33] anidhya opened #110 "Unable to deploy contract to quorum"
Greetings all,

I have been trying to deploy a smart contract to quorum node via truffle but somehow its get stuck at eth_getFilterChanges while migrating

Is there a way to debug why is it stuck.
Log :
`{

 <   {
 <     "jsonrpc": "2.0",
 <     "id": 1,
 <     "result": "1"
 <   }

 <   {
 <     "jsonrpc": "2.0",
 <     "id": 2,
 <     "result": [
 <       "0x896a6b6fb7fc5fe3569f01c7546f8197b0d3e

[2018-04-28 12:28] Aliasgharmohammad commented on #102
HI thanks man

[2018-04-28 18:20] zulhfreelancer opened #111 "Re: Building Robust Smart Contracts With Openzeppelin"
Hi,

I'm following [this tutorial](http://truffleframework.com/tutorials/robust-smart-contracts-with-openzeppelin) and I faced some problems with it. But, I managed to solve it after Googling here and there.

I shared my workarounds in this thread:
https://twitter.com/zulhhandyplast/status/990281602268774400

Hopefully one of you can update the tutorial to help others especially newbies to follow

[2018-04-30 17:00] bmmpxf commented on #111
Thanks @zulhfreelancer ! We hadn't caught that they had renamed their package and repository. I've updated our tutorial with commit https://github.com/trufflesuite/trufflesuite.com/commit/96c71518aff15ea82c65001cf2a7c59e5d007e93.

[2018-04-30 17:00] #111 closed

[2018-05-01 18:00] bmmpxf opened #115 "Add information on translation to CONTRIBUTING.md"
We want to encourage people to translate our documentation, but because of maintenance issues, we don't want to host docs in languages we can't QA. So this ticket is to add a note to the CONTRIBUTING.md file a note for people who want to translate our docs, saying go for it and we'll link to it on your own site.

[2018-05-02 00:16] bmmpxf commented on #115
Added with https://github.com/trufflesuite/trufflesuite.com/commit/bb5bab0b2fbf44ebd66f720a05b1b3bcab3c04f8

[2018-05-02 00:16] #115 closed

[2018-05-07 18:42] btphan95 opened #121 "OpenZeppelin smart contract tutorial: Need to import accounts to MetaMask"
Hello, I am working on the Robust Smart Contracts with OpenZeppelin tutorial. I created the TutorialToken smart contract, and after deploying the smart contract onto a Ganache blockchain, I tried to access my accounts on MetaMask. However, the tutorial gets lost here, because it doesn't specify the user to import the accounts in Ganache into MetaMask using their private keys. Instead, it assumes t

[2018-05-10 04:32] sheela39 commented on #13
Sir, the program works fine for me, but will someone be able to explain the transactions in the metamask
![image](https://user-images.githubusercontent.com/38527054/39852265-2e29fd92-5439-11e8-8a23-8d8241a03d6e.png)

[2018-05-10 04:34] sheela39 commented on #13
what does this transaction mean, I have the date, timestamp, my account1 address and receiver address, now why the 0 ETH shows

[2018-05-12 16:34] 350050183 opened #124 "Which one to judge?"
The article from http://truffleframework.com/tutorials/ethereum-overview introduced Alice hired Bob to build her patio, both sides transfer two eths in an escrow contract, when Bob finished his job, i want to know which one to judge the work quality? Alice? Bob? or the other third-party? you know, they can not believe in each other. the smart contract needs smart input to be "SMART". if the inputs

[2018-05-16 07:21] qianguozheng opened #126 "Pet-Shop the recipient address is invalid, no way to assign it!"
We need a place to set the recipient address is not contract address

[2018-06-07 13:49] NanYoMy opened #142 "adoptionInstance.adopt is not a function"
after make every thing ok( constract ganache metamask). i click the "adopt" button. it turns out "adoptionInstance.adopt is not a function" in my chrome console

[2018-06-07 14:04] NanYoMy commented on #142
solve it,  typos....

[2018-06-07 14:04] #142 closed

[2018-06-11 19:21] Purple90 commented on #98
I would try different browsers or in a browser that doesn't save cache (try incognito mode?). Unless you went and changed some of the CSS, I don't see why you should have issues rendering the actually website.

[2018-06-13 08:28] BlockWaving opened #144 "pet adopt clicked succeed without wait for metamask approval"
followed tutorial all thru, web page is launched... metamask is configured account created, private net connected using ganache port number,  the eher value displayed in metamask correctly as in ganache account 1.

And then i went to click the pet adopt on web page, the button immediately changed to Success.  But  on the metamask side, there is nothing showed up.  Not a transaction prompt, no Appr

[2018-06-19 20:52] bmmpxf commented on #121
Hi there @btphan95 . Thanks for the report. Lots of good stuff in there.

You shouldn't need to "Import Account" in MetaMask. All you need to do is enter the seed phrase in Ganache, and make sure you're on the appropriate network (http://127.0.0.1:7545). To add more accounts from that seed phrase, you can select "Create Account". (You really only need two accounts to follow this tutorial.) So I do

[2018-06-19 20:52] #121 closed

[2018-06-25 11:21] bitbutter commented on #13
Same issue as @HGBG. Following the pet store tutorial all works as expected until clicking any 'Adopt' button on the web page. There's no response from the app. (Metamask balances show up as expected).

[2018-06-29 09:42] vincentlg opened #151 "404 not found on all documentation"
https://truffleframework.com/docs/getting_started/installation/ for example

return
Page Not Found
Sorry, but the page you were trying to view does not exist. Home

[2018-07-03 17:56] bmmpxf commented on #97
Done!

[2018-07-03 17:56] #97 closed

[2018-07-23 19:20] gnidan opened #154 "Document time-traveling in Truffle tests"
A common question I see asked is "how do I make my Truffle tests manipulate time?"

An example use case might be a time-bounded tokensale, where users are only allowed to purchase tokens within some window of time. It's important that users be able to test this functionality _before_ deploying their contracts to mainnet.

This behavior is provided by Ganache via a non-standard JSON-RPC method call

[2018-07-24 09:51] Paradox-AT opened #155 "Remove last line from solidity-tests.md"
Remove the last line i.e.

"Note that Truffle sends Ether to your test contract in a way that does not execute a fallback function, so you can still use the fallback function within your Solidity tests for advanced test cases."

from https://github.com/trufflesuite/trufflesuite.com/blob/master/public/docs/getting_started/solidity-tests.md

The fallback function is being called when ethers are sent

[2018-07-26 13:56] ZainaliSyed commented on #89
I am also getting same sort of Error :

Error: Election has not been deployed to detected network (network/artifact mismatch)
 at /usr/local/lib/node_modules/truffle/build/webpack:/packages/truffle-contract/contract.js:454:1

- I have install truffle in `npm install truffle -g` and in my project as well in node_modules `npm install truffle -dev`
- Truffle v4.1.13 - a development framework for Ethe

[2018-08-13 22:22] tjanson opened #164 "Ethereum Overview tutorial markdown is not parsed correctly"
The [_Ethereum Overview_ tutorial](https://truffleframework.com/tutorials/ethereum-overview) (with [this markdown source](https://github.com/trufflesuite/trufflesuite.com/blob/master/src/tutorials/ethereum-overview.md), which looks fine) is displayed incorrectly:

![truffleframework com_tutorials_ethereum-overview](https://user-images.githubusercontent.com/532114/44061289-0bf7af52-9f58-11e8-8466-a

[2018-08-23 12:18] johnmw opened #176 "Port Error in tutorial "BUILDING & TESTING A FRONTEND APP WITH TRUFFLE 3.0" (?)"
Hi, I'm new to Truffle and just been trying to follow the above tutorial.

I think I followed every step but the finished web app did not connect to Ganache.

Looking in the console, it falls back to port 9545 when there is no web3 provider.

The tutorial is using port 7545 for Ganache (the default) and does not mention you have to update your fallback port in index.js.

It just makes it a bit har

[2018-08-31 04:10] nczhu opened #179 "Documentation: Update link to Assert.sol in Testing docs (minor edit)"
Fix minor linking issue in Truffle docs. Trivial but important because, otherwise, the updated assert.sol is REALLY hard to find. 😂

Page where link is broken:
https://truffleframework.com/docs/truffle/testing/writing-tests-in-solidity

Here's the new link after Truffle directory reorg:
https://github.com/trufflesuite/truffle/blob/master/packages/truffle-core/lib/testing/Assert.sol

[2018-08-31 21:16] TQWILLIS opened #180 "Cannot Open Truffle Console"
Hi. I am a noob to Blockchain dev. I think got all my dependencies including ganache, metamask, etc. I think I had to have missed something bc when I go to build on or open truffle console, I get the following error.
![unable to open truffle console](https://user-images.githubusercontent.com/29835798/44936110-6ee85700-ad41-11e8-8e99-8a1b909e6663.PNG)

I also get the following error when intializin

[2018-09-05 01:04] balexander4 opened #183 "link on this docs page:https://www.truffleframework.com/boxes/blueprint, is not linking to the correct place."
Link at the end of the docs text takes you back to the main truffle suite homepage.

Expected Behavior: That it would take you to the the " Truffle Box section of our documentation " page as the link states.

https://www.truffleframework.com/boxes/blueprint

[2018-09-05 01:17] balexander4 opened #184 "The first instance of the the Assert.sol link does not link to the expected page"
Link: https://truffleframework.com/docs/truffle/testing/writing-tests-in-solidity

Takes you to a git hub 404 page. As if the file does not exsist anymore or never did.

Expected Behavior: It would take you to the info for the Asset.sol code on github.

[2018-09-05 01:41] balexander4 opened #185 "'the Options section' link does not link or page down."
No link even seems to be needed in this part. Below is the example.

https://www.truffleframework.com/docs/drizzle/quickstart#options

[2018-09-21 08:29] DiscRiskandBisque commented on #94
Hi @justinchou , thank you for mentioning this! I'm not sure how no one ran into it earlier. I just switched to OS X and it popped up right away. 🤔

Either way it's [fixed in the latest commit](https://github.com/trufflesuite/trufflesuite.com/commit/ce0ae09c1a13d3c1ea5b18dcd8c49c4341e80234). Thank you also for the PR, but the website structure has since changed so the files array needed different

[2018-09-21 08:29] #94 closed

[2018-09-23 17:46] kbventures opened #189 "truffle Test error"
PS D:\pet-shop-tutorial> truffle test
Using network 'development'.

Error parsing D:\pet-shop-tutorial\test\TestAdoption.sol: ParsedContract.sol:12:1: ParserError: Expected pragma, import directive or contract/interface/library definition.
function testUserCanAdoptPet() public {
^------^
Compilation failed. See above.
PS D:\pet-shop-tutorial>

[2018-09-23 18:16] kbventures commented on #189
I am having similar problems with the metacoin box.

[2018-09-25 02:19] corpoeureka opened #194 "Sales on pet shop"
Hi, I would like to know how can I make a sell of the pet in the pet shop tutorial

[2018-09-26 10:15] Pupin3 commented on #176
Hi and thanks for the tip, I haven't seen it before you mention it in your post!

But I am still having trouble to make it work! Everything looks ok, I compiled, migrated the contracts and then run "npm run dev" while my ganache were running on 7547 port which is also the port I use in the  truffle.js file. Still running the web app nothing happens and the status always displays the "Initiating tr

[2018-10-01 22:31] MareoRaft opened #197 "beautiful website"
@DiscRiskandBisque

I just wanted to say that I love the color scheme and styling of the website, and the whole "truffle" analogy.  You guys did a fantastic job!  Feel free to close this issue.

https://github.com/trufflesuite/trufflesuite.com/blob/753379a756c0ee8df40d866aeb5bea5fcf575df0/src/sass/global/colors.scss#L9

[2018-10-04 08:05] manhlx3006 opened #200 "Pet-shop tutorial: Nothing happens when click Adopt button"
I have followed Pet-shop tutorial and nothing happens when click Adopt button.
I found that the App.bindEvents() is not called after App is initialised.

What I did was calling App.bindEvents() after App.init(); or calling inside init function.

[2018-10-07 14:51] MareoRaft opened #203 "rename tutorial"
Could you change the title of the BUILDING & TESTING A FRONTEND APP WITH TRUFFLE 3.0 tutorial to be simply BUILDING A FRONTEND APP WITH TRUFFLE 3.0 ?

There is nothing in the tutorial about how to test your application.  While the example project does contain two test files, they the same ones shown in the Truffle docs and add no value.

[2018-10-07 14:51] #197 closed

[2018-11-05 20:35] dubirl opened #218 "Petshop Tutorial - works but metamask will no longer function due to code change"
Since MetaMask have made a code change which no longer exposes the blockchain accounts by default  - when adopting a pet - it will no longer interact with metamask. The transaction on ganche complete but it does not interact with MetaMask so you cannot interact with it or see the transaction history.

Since November 4th MetaMark  have communicated that they will no longer inject web3 by default (h

[2018-11-05 20:49] adrianmcli commented on #218
Thx for noting this. It's on my list of things to do this week.

On Mon, Nov 5, 2018, 3:35 PM dubirl <notifications@github.com> wrote:

[2018-11-05 21:00] dubirl commented on #218
Hi Adrian,

Thanks for the response - hopefully the code changes will be minimal and look forward to seeing how it will work  when there - I have been using this tutorial as part of my thesis in Blockchain - its been really useful and has exposed me to a lot different languages - js not being one of my strongest!

best regards

DubIrl

________________________________
From: Adrian Li <notification

[2018-11-06 03:33] #218 closed

[2018-11-14 19:40] balexander4 opened #220 "Truffle logo in drop down on Safari & Edge off setting spacing"
<img width="250" alt="screen shot 2018-11-14 at 2 31 21 pm" src="https://user-images.githubusercontent.com/42414550/48507889-265a1900-e81b-11e8-9f57-efc7994a5b1a.png">

[2018-11-23 15:25] ChrisChinchilla opened #225 "All boxes missing a step"
This is a small issue across all box text (e.g. https://truffleframework.com/boxes/pet-shop), if you follow the steps as written, you receive the errors `Error: Something already exists at the destination.` as you actually need to create a new folder first, as mentioned in https://truffleframework.com/docs/truffle/quickstart.

For ultimate user friendliness, would be super nice to add that step :)

[2018-11-23 18:46] dahifi commented on #200
Can you be more specific how you fixed it? I'm having same problem.

The tutorial is a bit vague to how things should look when you're done with the editing. It looks like initContract calls it after the $.getJSON block we're supposed to add, but if that block is returning to App.markAdopted(), I'm not sure that bindEvents is even getting called.

[2018-11-23 22:37] adrianmcli commented on #200
@dahifi

Maybe we'll add a section to show the final form of the code. I haven't looked at the tutorial in a while, but I'll put that on my list of todos next week.

[2018-11-27 20:56] rocky opened #1396 "run plugin example and documentation"
The section in "truffle run <command>" is sparse in useful documentation. First, most plugins are going to want to use the config parameter that passed in. `hello.js` omits this parameter, and probably some mention should be made that it exists.

There there should probably be mention as to how flags/switches get passed to the plugin and how command arguments are passed.  Here is a more complete `

[2018-12-04 09:34] imshubhamsingh commented on #225
Can I take this issue?

[2018-12-04 09:36] imshubhamsingh commented on #225
@ChrisChinchilla Can I work on this issue?

[2018-12-04 13:04] ChrisChinchilla commented on #225
@imshubhamsingh I'm not directly connected to the project, so if you feel like it, I'm sure you can :)

[2018-12-04 13:16] imshubhamsingh commented on #225
@ChrisChinchilla After looking there is a note that says ```NOTE: This box is not a complete dapp, but the starting point for the Pet Shop tutorial. You'll need to complete that for this to function.```

[2018-12-05 14:48] vyomshm commented on #184
Hi @balexander4 , I noticed that too. Fix in in PR #228

[2018-12-09 12:49] OrangePartisan commented on #102
It's not the version of truffle, it's a mismatch of the parenthesis. I found the following on stackoverflow:

https://stackoverflow.com/questions/49090043/truffle-compile-failing-parsererror-expected-token-lparen-got-identifier-funct

So you should check the syntaxis of the TestAdoption file you made. I work on the latest version and my test worked fine.

[2018-12-09 17:11] vaibnak commented on #200
@manhlx3006 what browser are you using, I followed it and the Adopt button was working as expected.
My configurations -
Browser: Mozilla firefox 61.0.1
Os: Ubuntu 18.04

[2018-12-09 17:14] vaibnak commented on #189
@kbventures can you please post your TestAdoption.sol file

[2018-12-10 04:08] manhlx3006 commented on #200
I'm using
Browser: Version 70.0.3538.110
Os: macOS High Sierra 10.13.6

[2018-12-10 04:38] adrianmcli commented on #200
@manhlx3006 would be helpful if you could push your project onto a github repo so we can try to run it and diagnose the problem.

[2018-12-10 05:04] manhlx3006 commented on #200
Hi, this is my repo https://github.com/manhlx3006/pet-shop-tutorial for sample of pet-shop-tutorial.

I have commented line 25 in https://github.com/manhlx3006/pet-shop-tutorial/blob/master/src/js/app.js. Uncomment will help to solve the issue but I'm not sure if it is a good solution. Thanks

[2018-12-10 05:47] adrianmcli commented on #200
@manhlx3006 I see the issue. Yes you need to call `App.bindEvents()`, or else we are not listening to the click events of any of the buttons!

This should have been called in the last line of the `initContract` function, as you can see here: https://github.com/truffle-box/pet-shop-box/blob/master/src/js/app.js#L39

However, perhaps you copy and pasted over it when you were pasting in the code for

[2018-12-10 06:19] manhlx3006 commented on #200
Yes, my version was around 2 months ago as you could see the date of reported issue.

[2018-12-10 06:20] manhlx3006 commented on #200
If it is fixed in the latest version then we could close the issue.

[2018-12-10 06:20] #200 closed

[2018-12-10 06:21] adrianmcli commented on #200
Just make sure to call, `App.bindEvents()` somewhere in the code! Best of luck. Can re-open if you continue to have issues.

[2018-12-11 22:21] gnidan opened #231 "Missing development instructions"
The README and the CONTRIBUTING guide are both lacking basic "getting started" steps.

This repo used to have [instructions](https://github.com/trufflesuite/trufflesuite.com/blob/097f7e0c63d677cd2743e51080988782e116a30c/README.md#development) for installing dependencies / running the dev server locally, but now they're gone.

[2018-12-12 18:25] DiscRiskandBisque opened #232 "Versioned Docs"
Add a selectable version number to the documentation.

[2018-12-12 18:32] gnidan opened #233 "Document `truffle run`"

[2018-12-12 18:53] eggplantzzz opened #234 "Config - compiler docs need to be updated"
The configuration docs for the compilers:
 - Need to reflect byo updates (https://github.com/trufflesuite/truffle/releases/tag/v5.0.0-beta.0#bring-your-own-compiler)
 - Vyper instructions?
 - External compiler settings (https://github.com/trufflesuite/truffle/releases/tag/v5.0.0-beta.0#external-compiler-support)

[2018-12-12 18:56] eggplantzzz opened #235 "Make truffle console docs more robust"
- Supports async/await syntax

[2018-12-12 19:27] gnidan opened #236 "Document `truffle test --show-events`"
Added in https://github.com/trufflesuite/truffle/pull/1232

[2018-12-12 19:28] gnidan opened #237 "Document auto-generated TypeScript interfaces for truffle-contract-schema"
Added in trufflesuite/truffle#1242

[2018-12-12 19:30] gnidan opened #238 "Document `truffle init` and `truffle unbox` changes"
Including:

- Overwrite behavior / prompts
- `--force`
- Unboxing from a branch or subdirectory

[2018-12-12 19:32] gnidan opened #239 "Document user-level configuration"
Including:
- Config path location on Mac/Windows/Linux
- Unique user `truffle develop` mnemonic
- Analytics

[2018-12-12 19:57] eggplantzzz commented on #235
There are some examples of console/develop use in the "Interacting With Your Contracts" section.  Perhaps just link to that as it gives examples of using async/await etc.

[2018-12-12 21:07] eggplantzzz opened #240 "Web3 v1 Changes"
https://github.com/trufflesuite/truffle/releases/tag/v5.0.0-beta.0#web3js-1.0

[2018-12-14 21:13] gnidan commented on #238
(Probably just need to include this in the commands reference)

[2018-12-15 00:36] eggplantzzz commented on #238
The release notes PR https://github.com/trufflesuite/roadmap/pull/196

The docs PR #249

[2018-12-15 00:37] eggplantzzz opened #250 "Update commands reference to include `--show-events`"

[2018-12-16 21:03] #250 closed

[2018-12-19 21:41] #233 closed

[2018-12-21 19:03] honestbonsai opened #268 "Create a Box button broken link"
On https://truffleframework.com/boxes, when you press the button `Create a box`, it takes you to https://truffleframework.com/docs/truffle/getting-started/truffle-boxes, but results in a 404 page.

[2018-12-21 20:05] honestbonsai opened #270 "Clarify what ignore does for truffle unbox"
The documentation for the `ignore` field could be clear about what it does for `truffle unbox` https://truffleframework.com/docs/truffle/advanced/creating-a-truffle-box#-span-style-text-transform-none-code-ignore-code-span-array-

Part of it stems from the term `unbox` being a bit opaque as to what it will actually do to the files if you don't ignore them.

[2018-12-28 19:36] hatshu opened #271 "test error at pet-shop tutorial"
im using visual code studio
windows 10
Truffle v5.0.0 (core: 5.0.0)
Solidity v0.5.0 (solc-js)
Node v10.15.0
ganache gui

I can compile the project
I can migrate the project
but i can't pass test.  I have this output:
PS D:\DESARROLLO\Servicechain.git\servicechain\pet-shop-tutorial> truffle testUsing network 'development'.

Compiling .\test\TestAdoption.sol...

  TestAdoption
    1) "before all" ho

[2018-12-29 10:19] hatshu commented on #271
Yes I have this problem yet¡¡¡¡

[2018-12-29 10:21] hatshu opened #272 "Still have the issue with truffle test on solidity"
im using visual code studio
windows 10
Truffle v5.0.0 (core: 5.0.0)
Solidity v0.5.0 (solc-js)
Node v10.15.0
ganache gui

I can compile the project
I can migrate the project
but i can't pass test. I have this output:
PS D:\DESARROLLO\Servicechain.git\servicechain\pet-shop-tutorial> truffle testUsing network 'development'.

Compiling .\test\TestAdoption.sol...

TestAdoption
1) "before all" hook: pre

[2018-12-29 10:48] hatshu commented on #271
Thx a lot¡

[2018-12-29 10:58] hatshu commented on #271
I have read the tutorial and I had the code like your manual, and the test error is still there :(

[2018-12-29 11:05] adrianmcli commented on #271
Do you think you can upload your project to a repo and I'll take a look?

[2018-12-29 11:08] adrianmcli commented on #271
Hmm, it looks like it might be related to #700, a Windows-specific issue. Either way, if you upload your project, I'll try it on my Mac just to make sure. I'll try to ping someone with a Windows computer for you, but most of the team is on holidays.

[2018-12-29 11:10] hatshu commented on #271
ok i will do it

[2018-12-29 11:34] hatshu commented on #271
https://github.com/hatshu/solidityPruebas

[2018-12-29 11:39] adrianmcli commented on #271
Okay, I've run the tests and it works fine on my end (on a Mac). So I'm pretty sure this is a Windows problem. I'll ping someone on the team and hopefully they'll get back to you soon.

[2018-12-29 11:40] hatshu commented on #271
Ok thx for your help.

Happy holidays¡

[2018-12-29 20:53] adrianmcli commented on #271
Are you using WSL and Windows together? Someone from the team mentioned that if you run all tthe commands under the same OS it should work.

[2018-12-31 09:51] belenmartinsoltel commented on #271
im not using WSL :S

[2018-12-31 10:37] adrianmcli commented on #271
@belenmartinsoltel can you explain your situation?

[2018-12-31 10:44] belenmartinsoltel commented on #271
I have windows 10
visual studio with solidity extension (fran blanco)
Truffle v5.0.0 (core: 5.0.0)
Solidity v0.5.0 (solc-js)
Node v10.15.0
ganache gui v1.2.2

I can compile with truffle compile
I can migrate with truffle migration
but I cant pass test becouse the error that said me on console :

TestAdoption
"before all" hook: prepare suite:
Error: Could not find artifacts for /D/DESARROLLO/Servic

[2018-12-31 10:56] belenmartinsoltel commented on #271
And I can see the web when I finished the tutorial, And I cant adopt pets¡¡¡ so its working, but test not passing, I have installed the Metacoin box and happends the same... :S

[2018-12-31 10:57] belenmartinsoltel commented on #271
Sorry  I dont see that now I was with a other account -.- now Im using the labtop to work -.- Im hatshu XD

[2018-12-31 11:15] belenmartinsoltel commented on #271
I was reading the https://github.com/trufflesuite/truffle/issues/700 and I see is like my problem, sounds like the bug appears again in version 5 :( Can be this?

[2018-12-31 16:43] CruzMolina commented on #271
Thanks for following up on this @belenmartinsoltel (@hatshu) !

Haven't looked at this extensively, but based on your stack trace and the stack trace in #700, this looks like a path resolving issue (looks like your shell operating in the D:/ drive gets translated by truffle into /D/).

[2019-01-02 07:52] belenmartinsoltel commented on #271
I have 2 pc's with windows 10, and happend on both... Now I have unboxing webpack with truffle, and happend the same with test on solidity, test on javascript go well.

PS C:\PROYECTOS\BlockChainDocs\servicechain.git\servicechain\webpack> truffle test
Using network 'development'.

Compiling .\contracts\ConvertLib.sol...
Compiling .\test\TestMetacoin.sol...

  TestMetacoin
    1) "before all" hook:

[2019-01-02 18:46] gnidan commented on #271
This should be fixed and will be released in our next patch. Thanks!

[2019-01-02 18:57] belenmartinsoltel commented on #271
THX SO MUCH¡¡¡¡¡

[2019-01-07 18:00] honestbonsai opened #275 "Issues with Truffle 5 in Drizzle React tutorial"
Getting these errors when trying to compile and migrate. Bumping the pragmas to 0.5.0 will fix it.

[code]

[2019-01-07 18:08] #275 closed

[2019-01-12 15:50] YXTR commented on #271
I also encountered this issue when I was studying the pet-shop tutorial (1/12/2019).
I'm using Windows 10 1809
Truffle v5.0.1 (core: 5.0.1)
Solidity v0.5.0 (solc-js)
Node v10.14.2

I can compile with truffle compile, and I can migrate with truffle migration, but when truffle test:

[code]

It seems that the address `/D/.../pet-shop-tutorial/contracts/Adoption.sol ` has become to `\D\...\pet-shop-t

[2019-01-22 23:09] Windforcer opened #281 "File naming error for truffle box blueprint"
On the blueprint box link (https://truffleframework.com/boxes/blueprint) step 4 references `box-config.json` when the file name seems to be changed to `truffle-box.json`

[2019-01-22 23:48] CruzMolina commented on #281
thanks for bringing this to attention @Windforcer ! i'm on leave right now, so feel free to submit a PR and i'll happily approve 😄

[2019-01-23 15:40] barakman opened #282 "Default values for 'gas' and 'gasPrice' are different between docs and code"
Pretty sure I've reported this before, but unable to find it for some reason...

[In the docs](https://truffleframework.com/docs/truffle/reference/configuration#networks):
- `gas`: Gas limit used for deploys. Default is 4712388.
- `gasPrice`: Gas price used for deploys. Default is 100000000000 (100 Shannon).

[In the code](https://github.com/trufflesuite/truffle/blob/develop/packages/truffle-confi

[2019-01-28 15:35] Alexandre17220 commented on #271
same error , very boring for tutorial..
Truffle v5.0.2 (core: 5.0.2)
Solidity v0.5.0 (solc-js)
Node v11.8.0

[2019-01-28 16:52] adrianmcli commented on #271
It seems like the issue is still persisting, let me see if I can get someone on the team with a Windows machine to test it.

[2019-01-29 10:07] CnBDM-Su commented on #271
It seems like a WIN path problem. does anyone know how to use a absolute path in the import part. I guess maybe could solve this problem.

[2019-02-03 16:37] cryptoads commented on #271
Same issue - watching for fix 👀

[2019-02-04 05:50] marv311 commented on #271
I have the same issue

[2019-02-11 16:58] delerak commented on #271
I also have the same issue, I've tried messing with the pathing in the windows but it appears to be a Truffle framework issue that will need a fix on that end.

[2019-02-11 17:04] adrianmcli commented on #271
@cryptoads @marv311 @delerak you guys are all on Windows machines?

[2019-02-11 17:10] delerak commented on #271
Yep. I have a Linux laptop I'm going to use to finish the tutorial for my own desire to finish it.

[2019-02-11 17:17] adrianmcli commented on #271
Looks like this might be related to https://github.com/trufflesuite/truffle/issues/1630. We should have a fix for that some time this week.

[2019-02-13 15:50] marv311 commented on #271
@adrianmcli Yes I am on a Windows 10 Machine

[2019-02-13 18:41] cryptoads commented on #271
@adrianmcli  Yes, win10

[2019-02-24 04:47] marv311 commented on #271
@adrianmcli mine works now with the new upate

[2019-02-24 06:54] adrianmcli commented on #271
@marv311 excellent! Can others in this thread also confirm?

[2019-03-07 14:53] isaacsultan opened #304 "Ethtools is down"
The [tutorial](https://truffleframework.com/tutorials/using-infura-custom-provider
) below recommends using the EthTools Ropsten Faucet.

The recommendation should be changed to an [operational faucet](https://faucet.metamask.io/)/

[2019-03-07 16:47] CruzMolina commented on #304
Thanks for raising this @isaacsultan !

#305 should resolve this. 🙏

[2019-03-07 16:57] #304 closed

[2019-03-07 17:48] isaacsultan commented on #304
@CruzMolina You are welcome :)

[2019-03-08 22:48] burrrata opened #307 "Getting Started tutorial suggestion"
The [Importing dependencies via filename](https://truffleframework.com/docs/truffle/getting-started/compiling-contracts#importing-dependencies-via-file-name) section of the [Getting Started - Compiling Contracts](https://truffleframework.com/docs/truffle/getting-started/compiling-contracts) section is unclear.

It says "To import contracts from a separate file, add the following code to your Solid

[2019-03-20 12:55] cds-amal opened #319 "Update docs to reflect upcoming changes to infura"
From michael W

Files matching `infura`
[code]

Locations matching `ropsten.infura`.
[code]

[2019-03-25 19:55] kevinbluer commented on #319
https://github.com/trufflesuite/trufflesuite.com/pull/325

[2019-04-04 05:57] CruzMolina opened #334 "Update MM UI screenshots in Pet Shop Tutorial"
While troubleshooting the Pet Shop tutorial w/ a user in trufflesuite/truffle#48 (https://github.com/trufflesuite/truffle/issues/48#issuecomment-479687880), I noticed the screenshots to help introduce & walk through new users to Metamask are outdated & show the old UI!

[2019-04-09 15:49] #334 closed

[2019-04-17 15:20] francolynn opened #354 "Error with resolving 'Crypto' Module while Trying to Run React Native Drizzle Tutorial"
I am having issues running the DrizzleReactNativeTutorial app while following instructions given at https://truffleframework.com/tutorials/drizzle-and-react-native. When I attempt to run the app on my android emulator, I receive the error message below. I understand that the crypto module is no longer supported, however, the workaround provided by the "rn-cli.config.js" and "shims.js" files doesn'

[2019-04-17 16:27] CruzMolina commented on #354
CC @honestbonsai @cds-amal

[2019-04-17 20:10] francolynn commented on #354
Okay, I figured it out.

1. The code for **rn-cli.config.js** should go in **metro.config.js**
2. In **shims.js** on Line 2: the brackets around **btoa** need to be removed.

[2019-04-19 18:30] wbt opened #358 "Step numbers keep resetting in tutorial"
For tutorials like https://truffleframework.com/tutorials/pet-shop , the step numbers keep resetting to 1.

It would make more sense to have step numbers if the numbering continued.

The status quo produces dialogs like "OK, now in step 2 (again) (again) (again)..." "Which Step 2 is that?"

We should not worry about running out of integers, and mark the steps uniquely!

[2019-05-17 18:07] illuzen opened #395 "Please document the commandline arguments for ganache-cli"
As far as I can tell, the only way to discover what the command line args are is to

- guess that `ganache-cli help` is a command
- dig thru the ganache source code

[2019-05-20 13:38] onggunhao opened #398 "EthPM + Truffle documentation needs to be updated for EthPM v2"
[Package Management via EthPM](https://github.com/trufflesuite/trufflesuite.com/blob/master/src/docs/truffle/getting-started/package-management-via-ethpm.md) gives a 404 error for the EthPM registry. The package to be installed also returns a 404.

It seems that there is a new EthPM v2 and the existing instructions are outdated.

I have pinged @Nick in the `ethpm/lobby` gitter and can work on an u

[2019-05-20 16:40] gnidan commented on #398
Thanks for raising this @onggunhao! Just to note: Truffle does not currently support EthPM v2. The integration work to make this happen is currently waiting on trufflesuite/truffle#1718, since that effort seeks to make this kind of integration a lot easier.

PRs welcome if anyone wants to make Truffle work with EthPM v2 (prior to the above). We're just looking to apply our team's time efficiently

[2019-05-20 16:53] davidmurdoch opened #399 "`Truffle TeamsBeta` should be `Truffle Teams Beta` everywhere"
We need to make sure that there is a space between "Truffle Teams" and "Beta" in our HTML. I noticed that the new truffle teams landing page is missing this space character, so the `h1` tag will read as `Truffle TeamsBeta` when read by search engines and other web crawlers.

Additionally, the text within this same `h1` tag is all upper case in the HTML. We should be using CSS to transform this tex

[2019-05-21 11:32] onggunhao commented on #398
Thanks @gnidan! I'll close this issue since it's already tracked

[2019-05-21 11:32] #398 closed

[2019-05-21 15:36] joshmobley opened #400 "Duplicate Wrapper issue on Truffle Box Detail Page"
The detail view of truffle boxes seems to double-wrap the contents. You'll notice the double header, and the scrollable portion of the page is smaller than the viewport.

This was seen on Chrome 73

![image](https://user-images.githubusercontent.com/933565/58109941-8cee3400-7bbc-11e9-8ee9-28f814586e8e.png)

![image](https://user-images.githubusercontent.com/933565/58109950-9081bb00-7bbc-11e9-9571-

[2019-05-21 15:37] joshmobley commented on #400
I'm going to take a pass at a fix as well, if you'd like to assign me.

[2019-05-22 03:17] ZahanWu opened #402 "Japanese translation of Truffle Docs"
Hi. I translated Truffle Docs into Japanese (until GETTING STARTED section), so could you please link this on somewhere for Japanese users?

URL: https://github.com/ZahanWu/truffle-docs-ja/wiki

I'll soon update translation of the rest of the Docs(TESTING, ADVANCED, etc...).

[2019-06-04 14:32] ani-mal commented on #271
I am having the same issue. I just started the tutorial this morning.

#### Description
Win 10 1809
Truffle v5.0.20
Solidity v0.5.0
Node v11.6.0
Web.js v1.0.0-beta.37

[2019-06-11 20:01] b-m-f opened #419 "What is the feature mentioned in docs?"
In the section https://github.com/trufflesuite/trufflesuite.com/blob/master/src/docs/truffle/testing/testing-your-contracts.md#speed-and-reliability-considerations of the docs, a special feature is mentioned.

Would it be possible to link to a description from the docs?

[2019-06-13 13:31] earizon opened #422 "(Feature request): Allow to use non-standard config path"
The use-case for this option is as follow:

- A complex network setup exists with ethereum nodes running on Kubernetes, ... with random IPs/ports).

- An auxiliar utility wrapper script is used to query the environment and update an generated-config.js configuration file before launching truffle.

- This generated-config.js is added to ".gitignore" since it changes frequently.

- Original truffle-

[2019-06-13 13:45] #422 closed

[2019-06-13 13:45] earizon commented on #422
(wrong repo)

[2019-06-13 13:46] CruzMolina commented on #422
Similar to trufflesuite/truffle#1879.

[2019-07-01 14:36] pcowgill commented on #232
This is a significant pain point when contributing to a Truffle 4.x legacy project.

I think [Docusaurus](https://docusaurus.io/) would be a good fit for the Truffle team.

[2019-07-01 15:12] joshmobley commented on #400
Fixed with #401

[2019-07-01 15:12] #400 closed

[2019-07-14 01:18] Keegan-lee commented on #271
I am having the same issue

[2019-07-15 09:01] thesachinmittal commented on #218
I think, code is still not working according to the update. Please look into it. I had to run it by disabling the privacy mode.

[2019-07-15 09:04] thesachinmittal opened #468 "Code is not acting according to updated metamask policies, reference #218"
The metamask privacy update, was accommodated in the code according to issue #218 . But I am still facing that problem, for help refer https://gist.github.com/bitpshr/076b164843f0414077164fe7fe3278d9#file-provider-enable-js

[2019-08-02 13:52] eggplantzzz commented on #402
@ZahanWu Wow, thanks that's amazing! Sorry for taking so long to get around to this. I'll see if we can do this.

[2019-08-02 13:55] eggplantzzz commented on #358
Hehe, yes right you are!

[2019-08-02 14:44] eggplantzzz commented on #358
I guess I'm not too opposed to going back to 1 in new sections but that looks like it needs a "go-over". Some sections only have 1 step which is kind of weird.

[2019-08-02 15:00] wbt commented on #358
Have you ever tried teaching with the tutorial or going through it with a group?

[2019-08-02 22:47] eggplantzzz commented on #358
No I haven't but I'm sure that would be a good way to test it.

[2019-08-04 23:27] BboyAkers opened #511 "Unclear how to stand up a local instance of the website"
There was no instructions in the readme to get trufflesuite.com up and running in a local environment. I ended up using "http-server" to get it working properly as a local instance. I can add a pull request specifying the details to get this up and running locally in the README file!

[2019-08-04 23:30] #511 closed

[2019-08-04 23:31] BboyAkers commented on #511
Migrating request to trufflesuite.github.io repo

[2019-08-13 09:45] faraggi opened #515 "Docs: Client Reference has mistake"
https://www.trufflesuite.com/docs/truffle/reference/choosing-an-ethereum-client

https://www.trufflesuite.com/docs/truffle/reference/choosing-an-ethereum-client#deploying-to-live-networks

This docs page has an ethereum.org 404 error (I suppose this is since it was updated), and it doesn't reference the Pantheon client.

[2019-08-13 15:52] #515 closed

[2019-09-06 14:48] davidmurdoch opened #526 "Add solidity syntax highlighting in docs"
Solidity support was just merged into Prism.js (used by trufflesuite.com) and should be pretty easy to add in to the site now: https://github.com/PrismJS/prism/pull/2031

[2019-09-09 17:08] BboyAkers commented on #526
@adrianmcli Mind if I take this one?

[2019-09-15 01:44] fulldecent opened #531 "Change Ganache default port to 8546"
Truffle documentation recommends that as a best practice Ganache should run on a different port than live network clients.

Source: https://www.trufflesuite.com/tutorials/deploying-to-the-live-network

The default port for Ganache is 8545 and the default port for live clients are 8545, and the live clients are not under the control of this project, per above-referenced documentation.

Truffle docu

[2019-09-16 16:17] eggplantzzz commented on #526
@BboyAkers Take a swing! Thanks!

[2019-11-10 15:31] #526 closed

[2019-11-20 10:28] digulla opened #569 "Broken link / missing documentation how to write tests in TypeScript"
At the bottom of https://www.trufflesuite.com/docs/truffle/testing/writing-tests-in-javascript is:

which just points to the link above. You could simply replace this with "see above".

Can you please create a document which explains nuances how to write tests using TypeScript. Topics:

- How to configure the project when you want to import NPM modules (i.e. how to make this work: `import chai fro

[2019-12-16 21:11] DiscRiskandBisque commented on #268
Thanks for bringing this up @honestbonsai! It now connects to the relevant docs page.

[2019-12-16 21:11] #268 closed

[2019-12-16 21:13] DiscRiskandBisque commented on #64
Closing this due to age, but please re-open if you haven't found a solution.

[2019-12-16 21:13] #64 closed

[2019-12-16 21:14] #66 closed

[2019-12-16 21:16] DiscRiskandBisque commented on #83
Hi @MajjigaDeepak! First of all, sorry for the insanely late reply. If you're still wondering about this, please re-open this issue on the @trufflesuite/truffle repository for them to investigate. Thank you!

[2019-12-16 21:16] #83 closed

[2019-12-16 21:23] DiscRiskandBisque commented on #98
Hey @gewuxy! Sorry for the extremely late reply. I'm closing this due to its age, and the fact that the Pet Shop tutorial has gone through a few iterations since 2018. If this issue persists please re-open, thanks!

[2019-12-16 21:23] #98 closed

[2019-12-16 21:23] DiscRiskandBisque commented on #89
Hey @msedd! Sorry for the extremely late reply. I'm closing this due to its age, and the fact that the Pet Shop tutorial has gone through a few iterations since 2018. If this issue persists please re-open, thanks!

[2019-12-16 21:23] #89 closed

[2019-12-16 21:24] #100 closed

[2019-12-16 21:24] DiscRiskandBisque commented on #102
Hey @Aliasgharmohammad! Sorry for the extremely late reply. I'm closing this due to its age, and the fact that the Pet Shop tutorial has gone through a few iterations since 2018. If this issue persists please re-open, thanks!

[2019-12-16 21:24] #102 closed

[2019-12-16 21:26] DiscRiskandBisque commented on #106
Hey @plm75! Sorry for the extremely late reply. I'm closing this due to its age, and the fact that the Pet Shop tutorial has gone through a few iterations since 2018. If this issue persists please re-open, thanks!

[2019-12-16 21:26] #106 closed

[2019-12-16 21:27] DiscRiskandBisque commented on #107
Hi @FabiolaBusch! I apologize on behalf of the whole team for the extremely belated reply. I'm glad you were able to figure it out! If this issue pops up again in the future, don't hesitate to open a new issue.

[2019-12-16 21:27] #107 closed

[2019-12-16 21:27] DiscRiskandBisque commented on #109
Hey @samir-85! Sorry for the extremely late reply. I'm closing this due to its age, and the fact that the Pet Shop tutorial has gone through a few iterations since 2018. If this issue persists please re-open, thanks!

[2019-12-16 21:27] #109 closed

[2019-12-16 21:30] DiscRiskandBisque commented on #110
Hi @anidhya! First off, let me apologize for the extremely late response. This sounds more like an issue for the Truffle team--I've transferred the issue accordingly.

[2019-12-16 21:33] DiscRiskandBisque commented on #124
Hi @350050183! This is very true and would be great for a more realistic version of this scenario. For the example provided in this article, we wanted to keep it very simple.

[2019-12-16 21:33] #124 closed

[2019-12-16 21:35] DiscRiskandBisque commented on #164
Thanks @tjanson, and apologies for the extremely late response! This has since been fixed.

[2019-12-16 21:35] #164 closed

[2019-12-16 21:40] DiscRiskandBisque commented on #203
Hi @MareoRaft, totally agree in spirit, and apologies for the late response. Given the age of this tutorial, we're going to keep it as-is. We title our tutorials more accurately now! :)

[2019-12-16 21:41] #203 closed

[2019-12-16 21:48] DiscRiskandBisque commented on #232
Thanks @pcowgill we'll check it out!

[2019-12-16 21:50] DiscRiskandBisque commented on #144
Hey @BlockWaving! Sorry for the extremely late reply. I'm closing this due to its age, and the fact that the Pet Shop tutorial has gone through a few iterations since 2018. If this issue persists please re-open, thanks!

[2019-12-16 21:50] #144 closed

[2019-12-16 21:53] DiscRiskandBisque commented on #126
Hi @qianguozheng! First of all, apologies for the extremely late response. We wanted to keep this tutorial as simple as possible and using the defaults was part of that. For more information on setting the recipient address using web3, [see their docs](https://web3js.readthedocs.io/en/v1.2.4/).

If I've misunderstood and this is still an issue; please re-open or open a new one!

[2019-12-16 21:53] #126 closed

[2019-12-16 22:43] pcowgill commented on #232
@DiscRiskandBisque Great, thanks! For a while v2 of Docusaurus didn't support versioning yet, even though v1 did. It looks like it's close to being ready in v2 though (the link below about versioning in v2 was modified very recently), and I recommend v2 other than this potential issue.

https://v2.docusaurus.io/docs/versioning/

[2020-01-06 15:59] AemieJ opened #594 "Suggestion : Test to be written in javascript as well"
In `src/tutorials/petshop.md` , the unit tests to verify the proper functioning of the functions related to the contract are written in solidity, however it will be good to show for the javascript developers to use chai to write unit tests in javascript as well.

[2020-01-15 00:40] adrianmcli commented on #594
@AemieJ That's not a bad idea! Feel free to make a PR!

[2020-01-24 03:48] 7-- opened #602 "debugging-a-smart-contract.md - debugging doesn't work"
I followed the guide step by step but when you get to the first debugging part it gives this error:
[code]

[2020-01-24 05:12] haltman-at commented on #602
Hello!  Sorry about that.  Fortunately, I've already written a [fix](https://github.com/trufflesuite/truffle/pull/2777) for this issue that will go out in the next release, which should be tomorrow.  Once the new version is out, try upgrading and see if that fixes it!

(Btw, this isn't really the right repo to post this issue on -- this is the repo for the Truffle website, not for Truffle itself.

[2020-01-24 05:38] 7-- commented on #602
Thank you for letting me know

On Fri, Jan 24, 2020, 12:12 AM Harry Altman <notifications@github.com>
wrote:

[2020-01-24 19:44] #602 closed

[2020-01-28 14:38] wbt opened #604 "Search fails to find some relevant and expected results."
Steps to reproduce:
1. Visit https://www.trufflesuite.com/docs/truffle/overview
2. In the search box, type "geth"
3. Find just two results:
  * Drizzle | Drizzle Quickstart (Install Drizzle via npm...)
  * Truffle | Truffle Commands (This section will describe every command available in the Truffle application...)
4. Manually review documentation to do a reading search and find additional results

[2020-02-01 22:49] wagneripjr commented on #271
I have the same issue here :(

[2020-02-06 14:07] sergiocasero commented on #271
Same issue here :(

[2020-02-06 14:39] adrianmcli commented on #271
The team is currently on a retreat right now, we'll try to look into this next week!

[2020-02-25 11:00] cracki commented on #271
Same issue here :(

[2020-02-27 11:59] LucaRossi02 commented on #271
Same issue here

[2020-02-28 07:52] cejensen-ra commented on #271
Same issue here too

[2020-03-24 23:22] KadenZipfel commented on #271
Same issue still

[2020-04-16 07:26] amateur-dev opened #642 "Updating the tezos testnet address"
In the instructions [QuickStart](https://github.com/trufflesuite/trufflesuite.com/blob/3b3dabb1a9cbd03f82c803cc76ed8c44a22e5397/src/docs/tezos/truffle/quickstart.md) the testnet address is wrong.

The updated testnet is `https://api.tez.ie/rpc/carthagenet`

Reference: `https://tezos.gitlab.io/introduction/test_networks.html`

[2020-04-16 14:11] CruzMolina commented on #642
Thanks for opening this issue @amateur-dev !

This being resolved via #644.

[2020-04-16 14:13] #642 closed

[2020-04-16 22:15] nogo10 opened #645 "@truffle/contract is using old version of ethers.js"
I noticed web3 dependency version in  @truffle/contract is 1.2.1 but is using a old version of ethers.js which has a version 0.2.x of web3 dependency.

package.json : ```"ethers": "^4.0.0-beta.1"``` .... ```"web3": "^0.20.6"``` . The newest stable  "version": "4.0.46"  of ether.js no longer uses web3.

[2020-04-20 15:54] eggplantzzz commented on #645
Thanks for bringing this up! That would be nice to bump. Hopefully it will be an easy upgrade :)

[2020-05-24 16:14] GeorgeWL opened #672 "Dead link in https://www.trufflesuite.com/docs/drizzle/quickstart"
no idea where it's supposed to link to

Line-42-44 of https://github.com/trufflesuite/trufflesuite.com/blob/master/src/docs/drizzle/quickstart.md

[code]

[2020-06-14 21:32] blockracers opened #686 "writing tests in javascript docs page example #1 is incorrect"
https://www.trufflesuite.com/docs/truffle/testing/writing-tests-in-javascript

The first examples should use done or return the promise,
otherwise they it will pass incorrectly eg.

[code]
Should be:

[code]
or
[code]

[2020-06-17 13:59] zak100 opened #687 "Getting garbage value while executing commands mentioned in a tutorial"
Hi, I am reading the following tutorial:
https://medium.com/@JusDev1988/reentrancy-attack-on-a-smart-contract-677eae1300f2
I have executed the following commands:
[code]

But when I execute the following command, I am getting garbage, please guide me.

Zulfi.
[code]

[2020-06-26 19:19] gnidan commented on #86
Thanks for the suggestion! Not sure that copying files is best practice - maybe it's sufficient to use exact version numbers?

Regardless, we'll add this to our backlog to review and incorporate into our docs. Thanks again!

[2020-06-26 19:29] gnidan commented on #155
Hm, if that's wrong, we certainly need to fix that in the docs! Thanks for bringing this to our attention. We'll figure out if the docs are still saying the wrong thing and make sure we correct the record.

[2020-06-26 19:36] gnidan commented on #176
Seems like this is potentially out of date. Does anyone know if this is still a problem? I'd be very surprised if anyone is still using Truffle v3. Let us know!

[2020-06-26 19:37] gnidan commented on #180
Hopefully you've found a workaround by now, but if not: rename `truffle.js` to `truffle-config.js`.

Looks like this isn't an issue with the docs themselves, so closing this for issue maintenance. Feel free to reply if there's anything else we can do to help here. Thank you!

[2020-06-26 19:37] #180 closed

[2020-06-26 19:38] gnidan commented on #183
Looks like this got fixed. Closing for issue maintenance. Thank you!

[2020-06-26 19:38] #183 closed

[2020-06-26 19:39] gnidan commented on #184
Seems like we can close this, then! Thanks @vyomshm and @balexander4!

[2020-06-26 19:39] #184 closed

[2020-06-26 19:40] gnidan commented on #185
Looks like this got fixed, so we can close this! Thanks for raising the issue @balexander4.

[2020-06-26 19:40] #185 closed

[2020-06-26 19:41] gnidan commented on #189
Hm, my hope is that this is no longer an issue. @vaibnak / @kbventures do either of you know?

We're doing issue maintenance here and would like to close this if there's nothing left to address here. Please advise!

[2020-06-26 19:43] gnidan commented on #194
Hey @corpoeureka, do you still want to know how to do that? How much do you want for it?

Seems like there might be something actionable here for us to add to our tutorial, but not sure what that would be exactly. Let us know if this is something you still think would be valuable to mention. Thanks!

[2020-07-07 15:26] eggplantzzz commented on #86
I think we should close this as it is common practice enough to use npm libraries. Take [@openzeppelin](https://openzeppelin.com/) for example.

However maybe it would be worth adding a warning to people to either pin library versions or ensure that they trust their sources.

[2020-07-08 13:52] eggplantzzz commented on #687
Hey @zak100, can you give me a little more detail about your version information? If you run `truffle version` it should give you a bunch of data. Could you tell me what you get from that?

[2020-07-14 17:01] DiscRiskandBisque commented on #231
Thanks @gnidan and apologies for the late response! We got on it, [see the new guide here](https://github.com/trufflesuite/trufflesuite.com/blob/master/CONTRIBUTING.md). 😜

[2020-07-14 17:01] #231 closed

[2020-07-15 23:31] zak100 commented on #687
Truffle version is:

    truffle(ganache)> truffle version

    Truffle v5.1.27 (core: 5.1.27)

    Solidity v0.5.16 (solc-js) Node v8.10.0 Web3.js v1.2.1

    truffle(ganache)>

If you think that its a version problem please show me but I am not interested in going down.
Zulfi.

[2020-07-15 23:36] zak100 opened #728 "Assert.equal not running even with 'truffle unbox' project"
I ran the pet shop project. It uses "truffle unbox". The petshop project  at:

https://www.trufflesuite.com/tutorials/pet-shop

is able to execute 'Assert.equal' command but when I am using Assert.equal, I am getting error. I am first deploying the pet-shop project in my project folder using "truffle unbox petshop". It creates the files but then I modified the files as follows. My files are:
//Fun

[2020-07-15 23:43] zak100 commented on #728
Please contact me through:
zulfi6000@yahoo.com

[2020-07-17 19:11] DiscRiskandBisque commented on #234
@eggplantzzz Can we merge or close this?

[2020-07-17 19:14] #236 closed

[2020-07-17 19:15] #238 closed

[2020-07-17 19:19] #240 closed

[2020-07-17 19:20] #270 closed

[2020-07-17 19:23] DiscRiskandBisque commented on #281
Thanks again for bringing this up @Windforcer! This has since been fixed.

[2020-07-17 19:23] #281 closed

[2020-07-17 19:31] DiscRiskandBisque commented on #307
Hey @burrrata, sorry for the late response and thanks for this! Do you have an idea of how to word it better?

[2020-07-17 19:31] #399 closed

[2020-07-17 19:35] DiscRiskandBisque commented on #402
Hey @ZahanWu, thanks again for doing this! Truffle's docs don't have a way to support internationalization internally and I worry that we, as English speakers, couldn't maintain this. That said we want to support you by linking out to your translations. Is it possible for you to host these on your own site and we can link out via our docs?

[2020-07-22 19:04] eggplantzzz commented on #234
@DiscRiskandBisque So there is currently a section of the docs dedicated to the external compiler setup as well as the BYO compiler setup. We could consider adding some instructions for Vyper. I'm going to go ahead and close this issue and create a new one for Vyper.

[2020-07-22 19:04] #234 closed

[2020-07-22 19:05] eggplantzzz opened #736 "Add some details about the Vyper compiler"
At the moment I'm not sure how much configuration Truffle allows for the Vyper compiler but there may be something to add in the documentation about using the Vyper compiler with Truffle.

[2020-07-22 19:14] eggplantzzz commented on #687
Actually it looks like the behavior you detailed above is correct. The console is just printing the result of you Promise chain. In other words, you are calling `deployed` and then the `then` portion is resolving with the value set there. That's just what that expression returns. Like if you do `const a = 5` it will print `undefined`.

This isn't really a problem but if you want to avoid the conso

[2020-07-23 04:06] qiluge opened #737 "how to create MetaCoin instance?"
As I execute the command follwed [quickstart](https://www.trufflesuite.com/docs/truffle/quickstart#interacting-with-the-contract), I encountered an error:
[code]

So, how to create a MetaCoin instance?

[2020-07-23 14:25] eggplantzzz commented on #737
Hey @qiluge, it sounds like you forgot to run your migrations. After you run `truffle develop` you should run `migrate` at the prompt. That will deploy the contracts and make `MetaCoin` available in that context and you should be able to do what you were trying to do. Let me know if you still have problems!

[2020-07-23 14:35] qiluge commented on #737
@eggplantzzz thank you very much! After run migrations, it works! Thx!

[2020-07-23 14:35] #737 closed

[2020-07-24 10:01] qiluge opened #738 "how to get account public key in test case?"
I write some simple code:
[code]
And the I run the `test tests/TestDIDUtils.js` in truffle develop console, but the output is, it seems there are no `privateKey` in account object:
[code]
And when I log account in truffle develop console, the output also be undefined:
[code]
I cannot sign some data in console neither.

[2020-07-31 19:04] DiscRiskandBisque commented on #194
Closing this for now, but if you'd like to follow-up @corpoeureka, feel free to open a new issue!

[2020-07-31 19:04] #194 closed

[2020-07-31 19:06] DiscRiskandBisque commented on #176
Closing this for now, but if you'd still like to follow up @Pupin3, please open a new issue!

[2020-07-31 19:06] #176 closed

[2020-07-31 19:07] DiscRiskandBisque commented on #189
Closing this for now, but if anyone would like to follow-up please open a new issue--we welcome the feedback!

[2020-07-31 19:07] #189 closed

[2020-07-31 19:07] DiscRiskandBisque commented on #319
Closing since Kevin's PR has been merged.

[2020-07-31 19:07] #319 closed

[2020-07-31 19:09] DiscRiskandBisque commented on #354
Hi @francolynn! Thanks for investigating this and sorry for the late response. Could you open a PR with these changes? If you don't have time let me know and we'll implement--thanks!

[2020-07-31 19:13] DiscRiskandBisque commented on #419
Hi @b-m-f: apologies for the late follow-up!

Paging @gnidan @eggplantzzz , but I'm pretty sure these "features" in the sense of architectural choices, not features in the user-accessible sense.

[2020-07-31 19:25] DiscRiskandBisque commented on #358
Thanks for your observation @wbt! The step count reset is intentional so that each section's steps are self-contained.

[2020-07-31 19:25] #358 closed

[2020-07-31 19:29] DiscRiskandBisque commented on #395
Hi @illuzen! Thanks for pointing this out and sorry for the late response. Is something like what's in the README what you're looking for? [Specifically the Options section.](https://github.com/trufflesuite/ganache-cli#options)

[2020-08-07 19:29] DiscRiskandBisque commented on #569
Hi @digulla, sorry for the late response--we're getting around to reviewing website issues and PRs more regularly now!

Hear you on the self-referential link--we can think of better wording for that.

As for the separate TS testing page: @eggplantzzz @gnidan I see value there, but would love to see if you have an additional thoughts?

[2020-08-07 19:31] DiscRiskandBisque commented on #672
Thanks for pointing this out @GeorgeWL! Closing since it has since been fixed.

[2020-08-07 19:31] #672 closed

[2020-08-07 19:34] DiscRiskandBisque commented on #604
Hi @wbt! Thank you for this detailed write-up. Our search functionality isn't ideal at the moment, but we're currently exploring alternate documentation platforms to support versioning and better search resolution. I'll keep this open for now so we can have it as a reference test.

[2020-08-08 09:22] anildharni commented on #271
I am on windows 10.
test failed when I used truffle version 5.0.2.
Updated the truffle version 5.1.39 just to see if it changes anything and test passed. See if this helps.

[2020-08-10 20:51] bellaj commented on #738
Same here, any potential directions?

[2020-08-11 01:20] #738 closed

[2020-08-13 15:45] eggplantzzz commented on #569
We really should have a section on writing tests using TypeScript. I actually have never done this and will have to dig up the references that @CruzMolina used to point me to for a guide on doing this.

[2020-08-14 19:11] #307 closed

[2020-08-14 19:11] DiscRiskandBisque commented on #307
Closing for now--if you still think this needs more clarification let us know via a new issue. Thanks!

[2020-08-14 19:17] DiscRiskandBisque commented on #736
I'm on board! Given that we have pluggable compiler support maybe we re-work the [Compiling Contracts](https://www.trufflesuite.com/docs/truffle/getting-started/compiling-contracts) page?

[2020-08-14 19:21] DiscRiskandBisque commented on #728
Hi @zak100, though this isn't related to our Pet Shop box, I'll take a shot at debugging here: looks like the test is working as intended: `funding.owner()` will be the deployer address and `this` in that context will be the contract address, so I would not expect them to be equal. Correct me if I'm wrong?

[2020-08-14 19:25] DiscRiskandBisque commented on #687
Hey @zak100! Closing this for now since it appears to be answered. In the future for Truffle-related issues such as this, please open future issue on the [truffle repo](https://github.com/trufflesuite/truffle/issues).

[2020-08-14 19:25] #687 closed

[2020-08-14 19:28] DiscRiskandBisque commented on #686
Hi @blockracers--thanks for pointing this out and apologies for late response! You're 100% correct, would you be willing to open a PR with these changes? Thanks again!

[2020-08-14 19:33] #232 closed

[2020-08-14 19:44] DiscRiskandBisque commented on #468
Hi @thesachinmittal! Sorry for the late response. Are you still experiencing this issue and if so, can you provide more context? Did you encounter this in a tutorial or while going through our docs? Trying to determine if we should move to a product repo or keep it here.

[2020-08-27 00:08] cds-amal opened #770 "Contribution: explain how to keep box PR contributions up to date"
When making changes to add a box the develop branch may change and the PR branch should be "rebased" against develop. However because box changes are inserting JSON entries git tools to auto rebase and resolve is not easy.

This happened with #625 and we should document the process.

[2020-08-28 19:15] DiscRiskandBisque commented on #419
Yes @b-m-f that's totally correct. Put another way: it's faster because there is no block time (blocks are mined as soon as TXs are received)!

[2020-08-28 19:15] #419 closed

[2020-08-28 19:18] gnidan opened #772 "Change all code examples to use `async`/`await`"
Callbacks are out of vogue! I don't want to see them anymore.

[2020-08-28 19:19] DiscRiskandBisque commented on #686
Hey @blockracers, we're going to convert our tests to use `async`/`await`, so that will supersede this entirely. See issue #772. Keeping this open for now until that's addressed.

[2020-08-30 07:32] thesachinmittal commented on #468
Hi @DiscRiskandBisque -- thanks for getting back to me. Problem seems to have resolved. Closing the issue. 👍

[2020-08-30 07:32] #468 closed

[2020-09-02 16:44] AemieJ opened #779 "Navbar Alignment is not proper"
From screen width of 768-830px, due to high number of navbar items, the navbar doesn't remain aligned.
![navbar-truffle-issue](https://user-images.githubusercontent.com/44139348/92012025-85c74700-ed69-11ea-8008-79b4efd1df82.png)

I want to propose 2 alternatives.

1. Include navbar collapse from 830px and below. However, the breakpoints will then be hard to keep track of.
2. Provide the navbar ite

[2020-09-03 15:25] eggplantzzz commented on #779
Thanks for thoroughly testing our website's responsiveness :) This is another one for @DiscRiskandBisque.

[2020-09-06 13:51] mktcode opened #781 "Remove temporary note from docs"
Just as a reminder: Once https://github.com/trufflesuite/truffle/issues/3329 is resolved https://github.com/trufflesuite/trufflesuite.com/pull/775 can be reverted.

[2020-09-23 14:21] firevenus opened #789 "Update MetaMask instructions in PetShop to cover situations with existing MetaMask accounts"
It should import a new Ganache account using private key after setting up Metamask custom RPC network in Pet-shop tutorial. Otherwise, the account wouldn't have enough Gas.

[2020-09-24 17:52] #779 closed

[2020-09-25 19:09] DiscRiskandBisque commented on #789
Hey @firevenus! Thanks for pointing this out--we've changed the title to update our tutorial. In the meantime, you can import the account via private key as mentioned, but another possible solution for other tutorials you may encounter is to create an additional browser profile that doesn't already have your "real" account credentials.

[2020-09-25 19:15] DiscRiskandBisque commented on #728
Closing for now, if this is still an issue @zak100 please re-open--thanks!

[2020-09-25 19:15] #728 closed

[2020-10-02 18:55] #220 closed

[2020-10-09 18:38] BCsRock opened #807 "[WINDOWS 10] truffle unbox adrianmcli/truffle-next fails"
I was trying to run the tutorial for the truffle NEXT.js as decsribed [here ](https://www.trufflesuite.com/boxes/truffle-next).

Unfortunately, the `truffle unbox` already fails.

Please see my console output in this [gist](https://gist.github.com/BCsRock/3056d4f623add3934c0c08a8284dbb38)

Truffle Version
[code]

On Windows 10.

[2020-10-09 18:42] DiscRiskandBisque commented on #807
Hi @BCsRock, is there a specific error message you get or does it just say the unbox failed?

[2020-10-09 18:44] BCsRock commented on #807
Yeah, there is an error message, but its very long, so I put it into a github-gist. Please have a look there.

[2020-10-12 15:55] eggplantzzz commented on #807
@BCsRock Can you provide us with a link to it?

[2020-10-13 15:31] BCsRock commented on #807
Please see my console output in this [gist](https://gist.github.com/BCsRock/3056d4f623add3934c0c08a8284dbb38)

[2020-10-14 15:35] eggplantzzz commented on #807
Looks like that problem is specific to that box. In the `truffle-box.json` it says it is trying to run `cd client && npm install && npm run link-contracts`. I'm pretty sure the `npm install` portion is failing. I would suggest contacting the maintainer to see if he knows anything about why the install portion would be failing for you.

[2020-11-02 10:32] BCsRock commented on #807
Yes, it was related to the link-contracts module. I did not fix it but it seems some modification are necessary. Let's close it here.

Thanks for hinting me to the correct direction.

[2020-11-02 10:32] #807 closed

[2020-12-15 05:47] jmcph4 opened #875 "Broken link in Solidity testing documentation"
Currently, in the documentation for [Writing Tests in Solidity](https://www.trufflesuite.com/docs/truffle/testing/writing-tests-in-solidity), there is a broken link to `Assert.sol`, which makes it rather painful to find the full list of available assertions. This appears to have been introduced in 7884c2c.

[2020-12-15 17:52] eggplantzzz commented on #875
Thanks for reporting this @jmcph4! I put in a PR to fix that [here](https://github.com/trufflesuite/trufflesuite.com/pull/877).

[2020-12-16 18:46] DiscRiskandBisque commented on #875
Thanks @jmcph4 and @eggplantzzz ! Closing this because I've merged the PR.

[2020-12-16 18:46] #875 closed

[2021-01-06 14:44] roo-shy opened #886 "Link Update in Bring Your Own CI (BYOCI) with Truffle Teams"
On this page in blog link redirects to 404: https://www.trufflesuite.com/blog/bring-your-own-ci-byoci-with-truffle-teams

<img width="648" alt="Screen Shot 2021-01-06 at 8 41 38 AM" src="https://user-images.githubusercontent.com/13618162/103780769-0d181600-4ffb-11eb-8370-16ca56283735.png">

https://www.trufflesuite.com/docs/teams/testing/external-ci - this URL is broken and redirects to 404

[2021-01-12 20:55] DiscRiskandBisque commented on #886
Hi @roo-shy, thank you for pointing this out. I've confirmed that the documentation link is broken and should be: [https://www.trufflesuite.com/docs/teams/builds/external-ci](https://www.trufflesuite.com/docs/teams/builds/external-ci) and fixed it with [PR #890](https://github.com/trufflesuite/trufflesuite.com/pull/890).

[2021-01-12 20:55] #886 closed

[2021-01-16 15:55] code-brewer opened #893 "Have a puzzle, how can 'deployer.deploy' soothsaying contract address"
[https://www.trufflesuite.com/docs/truffle/getting-started/running-migrations#deployer-deploy-contract-args-options-](https://www.trufflesuite.com/docs/truffle/getting-started/running-migrations#deployer-deploy-contract-args-options-)

The doc says:

As I have known, the contract address is unknown before deployment, and decided by EVM, it is unpredictable.

I just wonder how trufflesuite make it

[2021-01-23 04:48] roo-shy opened #897 "Potential support page redirect to Zendesk"
@DiscRiskandBisque regarding your comment in [slack](https://consensys.slack.com/archives/C01L0NZJRDW/p1611346945029300?thread_ts=1611314298.017400&cid=C01L0NZJRDW)

There is an email address that redirects to Zendesk support: support@trufflesuite.zendesk.com maybe add it for now temporary before help desk is ready. This email can also be different, we can add alias to it, for example: support@tru

[2021-01-25 20:27] eggplantzzz commented on #893
What this means is that your contract will have its address recorded in the artifact file. So after a contract is deployed, that information gets saved in the artifact in `build/contracts`. Later you can access this something like the following:
[code]

So before deploying the contract, there will be no address information in the artifact.

[2021-02-05 00:17] haltman-at opened #1397 "Add documentation on using Truffle with Vyper; make existing documentation more language-agnostic"

[2021-02-06 13:58] erich0123 opened #905 "Drizzle installation command is broken"
Hello, the installation command on the [drizzle page](https://www.trufflesuite.com/drizzle) doesn't work anymore. I think it should be changed to `npm install --save @drizzle/store`.

[2021-02-14 23:43] roschler opened #913 "404 error on docs page for "Writing tests in JavaScript""
The docs reference the following URL to find information on using the debug() statement in unit tests:

https://www.trufflesuite.com/docs/truffle/writing-tests-in-javascript

That URL gives a 404 error. This is the page that hosts the bad link:

https://www.trufflesuite.com/docs/truffle/getting-started/debugging-your-contracts

The anchor text is " Writing tests in JavaScript ".

[2021-02-18 02:23] DiscRiskandBisque opened #920 "Track clicks on Support nav item"
The Customer Success team has requested we track clicks on the SUPPORT nav item in Teams to better see how our supplemental materials are helping users. The thinking goes: if the number of clicks on that link vs. the number of tickets open remains wide, we're adding the right content to our docs/FAQ/etc.

[2021-02-20 05:39] zach-is-my-name opened #917 "Can't search for query containing a space"
![Screenshot from 2021-02-20 00-37-05](https://user-images.githubusercontent.com/16063092/108585052-1bed2a80-7314-11eb-9380-c255408371bf.png)

[2021-02-22 18:53] fainashalts opened #1074 "Fix Tutorial: Getting Started With Drizzle and React"
[This tutorial](https://www.trufflesuite.com/guides/getting-started-with-drizzle-and-react) needs some fixes and updates.This issue arose from the tutorial review issue, trufflesuite/issue-target-tmp#1.

**Issues To Fix**

- Add a link to redux for newer users who may not be familiar
- fix link to petshop tutorial
- update versions where possible: solidity, node, truffle (especially *node* -- curr

[2021-02-22 20:33] fainashalts opened #1076 "Fix Tutorial: Drizzle and Contract Events"
[This tutorial](https://www.trufflesuite.com/guides/drizzle-and-contract-events) needs some updates. This issue came about as a result of work on trufflesuite/issue-target-tmp#1.

*Issues to Fix*
- Fix links in blue boxes!
- Typo: “Processes each dispatched action~~s~~ before passing them to Reducers…”
- Need to be a bit more clear about where in the code certain code snippets go — assume complete

[2021-03-03 18:50] DiscRiskandBisque opened #921 "Add Support nav item click event to MixPanel tracking plan"

[2021-03-03 18:51] DiscRiskandBisque opened #922 "Implement Support nav item click event in Teams"

[2021-03-09 04:05] DiscRiskandBisque opened #927 "Remaining Teams Doc Issues"
Here as a reminder; these could be broken down further in the future.

- Quickstart > Deploying Contracts refers to Seese's tutorial--we have deployment docs now
- Quickstart > Starting Builds could use a ref to external CI/more info
- Quickstart should go over monitoring/management as well or should have a more detailed Continue Learning section
- Builds Overview external CI could be a callout--m

[2021-03-09 04:08] DiscRiskandBisque opened #928 "Remaining Drizzle Doc Issues"
Here as a reminder; these could be broken down further in the future.

- No docs on Vue support
  - Needs pages coordinating with React versions
  - Quickstart only mentions React
- "Drizzle Actions" section relies on a tutorial when it could be more fleshed out as a standalone
  - To be clear: it's good the tutorial is mentioned, but the docs should stand on their own without it and have an INFO

[2021-03-17 15:08] xrenegad3 opened #934 "TRUFFLE AND METAMASK is outdated as Metamask has deprecated web3"
`window.web3` has become a dummy object. Projects that have not migrated to `window.ethereum` need to install `@metamask/legacy-web3`, which is no longer maintained and exists sole for backward compatibility. So all the instructions that use `new Web3(web3.currentProvider)` are practically outdated.
Metamask recommends `ethers`, which exposes `provider` and `signer` and looks something like
with `

[2021-03-31 18:04] davidmurdoch opened #944 "add branding guideliness, a la https://webpack.js.org/branding/"
https://webpack.js.org/branding/

[2021-04-07 02:13] DiscRiskandBisque opened #951 "Swap in new ConsenSys Software Co privacy policy"
[Policy doc here](https://docs.google.com/document/d/1Dt4rSLJELISnLl_4rEcHUk-6AFCMxDl0EBzXw4iwN8k/edit)

[2021-04-07 02:13] #951 closed

[2021-04-12 03:54] roo-shy opened #954 "Please update <DrizzleProvider> with <DrizzleContext.Provider>"
While following [Drizzle and Contract Events | Tutorials | Truffle Suite](https://www.trufflesuite.com/tutorials/drizzle-and-contract-events) it looks like the instructions at the "Connect the Store" step is out of date.

The drizzle box is no longer uses <DrizzleProvider>, and now uses <DrizzleContext.Provider> in `App.js`, this step should incorporate 'store' in constructing the 'drizzle' variab

[2021-04-14 17:51] davidmurdoch opened #956 "update trufflesuite.com/dashboard to include the ganache package downloads (and probably @ganache/core and @ganache/cli, too)"

[2021-04-20 21:31] DiscRiskandBisque commented on #354
Closing because we have since deprecated this tutorial.

[2021-04-20 21:31] #354 closed

[2021-04-20 21:33] DiscRiskandBisque commented on #402
Closing for now, but @ZahanWu if you would allow us to link out to your docs let us know and we'll be happy to do so!

[2021-04-20 21:33] #402 closed

[2021-04-21 06:34] ZahanWu commented on #402
@DiscRiskandBisque Hi, sorry for the late reply. The docs are now hosted on my GitBook (https://zahanwu.gitbook.io/truffle-docs-ja/).  Could you link this to your docs?

[2021-04-21 16:34] lsqproduction opened #959 "Broken links for guides on Drizzel Page"
<img width="832" alt="Screen Shot 2021-04-21 at 12 30 20 PM" src="https://user-images.githubusercontent.com/12772017/115589204-32245200-a295-11eb-8314-a4a86e3b4a8c.png">

These two guides on this page [https://www.trufflesuite.com/docs/drizzle/overview](https://www.trufflesuite.com/docs/drizzle/overview) have broken links.

[2021-04-21 17:14] roo-shy opened #960 "Update Node version requirement to bigger than 10, as node 10 isn't going to be supported soon"
https://github.com/trufflesuite/trufflesuite.com/issues?q=is%3Aissue+is%3Aopen+truffle+install

We see issues related to Truffle installation

[2021-04-21 21:19] Noisy96 opened #962 "Tutorials broken edit links"
The edit links at the end of each tutorial are:
https://github.com/trufflesuite/trufflesuite.com/edit/develop/src/tutorials
which leads to a github 404 page

while it should be:
https://github.com/trufflesuite/trufflesuite.com/edit/develop/src/guides

![image](https://user-images.githubusercontent.com/29981411/115622109-5ad93580-a2ef-11eb-863c-cce28abf1806.png)

[2021-04-22 02:40] #893 closed

[2021-04-25 11:40] ilmoi opened #963 "The "Guides" section of the docs links to localhost instad of trufflesuite.com"
Currently the "Guides" section of the truffle docs incorrectly links to the following:
[code]

Instead of correctly linking to eg `https://www.trufflesuite.com/guides/debugging-a-smart-contract`

I was trying to find a way to fix it, but couldn't figure it out. I found [this file](https://github.com/trufflesuite/trufflesuite.com/blob/develop/src/docs/data.json) whicih I think is responsible for th

[2021-05-03 15:57] eggplantzzz commented on #963
When I go to https://www.trufflesuite.com/guides and look at the links, they link to trufflesuite.com. Perhaps you are running the build locally? In that case they will be linked to localhost because that is where the server runs. If you can link me to a page that has them mislinked then I will take a look!

[2021-05-05 17:40] gnidan commented on #897
This is done!

[2021-05-05 17:40] #897 closed

[2021-05-05 17:43] gnidan commented on #905
Thanks for pointing this out! We'll add this to our backlog to fix.

[2021-05-05 17:47] gnidan commented on #913
Thanks for reporting this, @roschler! We'll add this to our backlog to get sorted out. In the meantime, here's the URL you are looking for: https://www.trufflesuite.com/docs/truffle/testing/writing-tests-in-javascript

[2021-05-05 17:49] gnidan commented on #917
No, no you cannot! Oops. We'll get this into our backlog to revisit our search capabilities. Thank you for reporting this.

[2021-05-05 17:56] gnidan commented on #920
@roo-shy says this issue is "no longer relevant", so I guess we can close! (@roo-shy, please reach out to us if you want us to implement tracking of this kind in the future)

[2021-05-05 17:56] #920 closed

[2021-05-05 17:58] gnidan commented on #927
Closing this for issue maintenance.

[2021-05-05 17:58] #927 closed

[2021-05-05 17:59] gnidan commented on #934
Great! Thanks for pointing this out! We'll get this into our backlog to fix.

[2021-05-05 18:00] gnidan commented on #934
(For reference, this is the page with that's wrong: https://www.trufflesuite.com/docs/truffle/getting-started/truffle-with-metamask)

[2021-05-05 18:05] gnidan commented on #954
Thanks for opening this @roo-shy! If you'd like to open the PR to fix this, here's the file that needs to change: https://github.com/trufflesuite/trufflesuite.com/blob/develop/src/guides/drizzle-and-contract-events.md

[2021-05-05 18:06] gnidan commented on #956
Definitely a thing we can do!

[2021-05-05 18:12] gnidan commented on #959
Looks like this got fixed!

[2021-05-05 18:12] #959 closed

[2021-05-05 18:14] gnidan commented on #962
Thanks for reporting this! Adding this to our backlog to fix (or feel free to open a PR :)

[2021-05-05 18:16] gnidan commented on #963
Looks like we can close this! @ilmoi please let us know if we missed any; happy to re-open this. Thanks for reporting this!

[2021-05-05 18:16] #963 closed

[2021-05-07 04:08] roo-shy commented on #954
Thanks @gnidan I'm running into some `ssh/id_rsa` issues on my machine with pushing a commit to a remote repo > new branch. If anyone could update this file: `trufflesuite.com/blob/develop/src/guides/drizzle-and-contract-events.md` on lines 147-149. Thanks again 🙌

#Upated version:
[code]

[2021-05-18 18:38] sinsinpurin opened #980 "Cannot read property 'contracts'"
I study drizzle-react-tutorial.
 https://github.com/trufflesuite/trufflesuite.com/blob/develop/src/guides/getting-started-with-drizzle-and-react.md

When I wrote up ReadString Component, it happens.

[code]

I think drizzleState can't complete to set data...

Can you reproduce?

this is my code
https://github.com/sinsinpurin/truffle-react-tutorial

[2021-05-19 06:40] sinsinpurin commented on #980
Sorry I found missing.

I wrote `state.DrizzleState`.

[2021-05-19 06:41] #980 closed

[2021-05-21 13:09] HankHoneymoon commented on #13
TO GET 100 ETH (as the tutorial completely skips that part) just connect to the local network (as described in the tutorial) then go your instance of Ganache. Next to the first transaction, the one with less than 100 eth, click the key to copy the private key. Then go to Import Account in Metamask (in your local/ganache network that you just created) and paste that into the private key field. You'

[2021-05-21 13:44] HankHoneymoon commented on #13
BTW I was able to get it to work by simply switching accounts to a different account, then back to my Test account (I set up a completely separate wallet for testing, of course, but might work if you just start a new wallet and switch between them as well.)

Not sure what the problem was, but the tutorial is finished, so moving on.

[2021-05-22 02:40] roo-shy commented on #954
Opened PR #[982](https://github.com/trufflesuite/trufflesuite.com/pull/982)

[2021-05-28 02:12] haltman-at commented on #954
PR's been merged, closing this!

[2021-05-28 02:12] #954 closed

[2021-05-29 14:36] dev-waleed opened #988 "Ethereum Overview link returns 404 Page"
On this page [https://www.trufflesuite.com/docs/truffle/quickstart](url) ; the "Ethereum Overeview" link which takes to this page [https://www.trufflesuite.com/tutorials/ethereum-overview](url) shows a 404 Page.

[2021-06-02 17:52] haltman-at opened #990 "Rework quickstart guide in spirit of "quickerstart""
Our quickstart guide is too long.  We should rework it in the style of #202.  (It might also be useful to mention debugging.)

[2021-06-02 18:04] haltman-at opened #991 "Document Truffle Test exit status"
See PR #450, but we don't want to go talking about Mocha's source code.

[2021-06-02 18:20] haltman-at commented on #988
Ah, thanks for pointing this out -- a number of our tutorials have been moved, and it seems we missed some links.  We'll fix this.

[2021-06-02 23:28] #988 closed

[2021-06-02 23:28] #991 closed

[2021-06-07 20:23] ituitis-karabulut18 opened #995 "creating a local host and lite server"
To begin with, I did the pet-shop-tutorial step by step but I get an error like this. I coulnt figure it out how to solve it.
[code]

[2021-06-08 16:33] eggplantzzz commented on #995
Can you please provided me with some more specific steps on how to reproduce this error?

[2021-06-09 20:48] Rich2020 opened #996 "Where does the Adoption.json come from?"
I'm following the tutorial, but it is not clear to me where the Adoption.json comes from.
I would appreciate it if someone could clarify for me.

[2021-06-09 20:52] mongolsteppe commented on #988
I still get the wrong /tutorials/ link [here](https://www.trufflesuite.com/docs/truffle/quickstart) for 'Ethereum overview' even if in the repo file https://github.com/trufflesuite/trufflesuite.com/tree/develop/src/docs/truffle it points to the right /guide/ URL (develop and master branches). What gives?

[2021-06-10 02:09] haltman-at commented on #988
Oh, yikes, I guess something is wrong with the publish?  @gnidan, do you know anything about this?  Or who's the right person to ask here?  Is this a problem for @kevinbluer?

[2021-06-10 20:44] Rich2020 commented on #996
@eggplantzzz Thanks so much for the explanation! I had suspected as much, but could not find the file so was not sure.
I think it would be worth mentioning in the Compilation section - just briefly saying that when the compile command is executed, a, b and c will happen. Perhaps then a link to further information (if one is available).

[2021-06-10 20:44] #996 closed

[2021-06-10 21:21] mongolsteppe commented on #988
Found the same issue at the bottom of the quickstart page

This is what's on the repo in quickstart.md
![image](https://user-images.githubusercontent.com/75075420/121598649-b2bc2f00-ca4a-11eb-8e9a-9585bdd87fde.png)

This is what shows up in the site (guides link missing and tutorials points at an 404 URL -should be /tutorial/)
![image](https://user-images.githubusercontent.com/75075420/121598771-d

[2021-06-10 23:01] haltman-at commented on #988
Yes, if the publish is broken then that will affect everything!  I'll go create a new issue for that...

[2021-06-10 23:02] haltman-at opened #999 "Publish is broken"
Changes to `master` aren't being reflected on the website, even after 24 hours.  Thanks to @mongolsteppe for pointing this out over on #988.  @gnidan, @kevinbluer, you know anything about this?

[2021-06-11 07:33] mongolsteppe commented on #999
Don't know if it helps, but cloning the repo and building locally displays all the links correctly.

[2021-06-11 21:32] ericnordelo opened #1000 "Tutorials link at the bottom of the quickstart page is broken landing to a 404"
https://www.trufflesuite.com/docs/truffle/quickstart

[2021-06-15 03:12] haltman-at commented on #1000
This seems to be fixed now?

[2021-06-15 03:14] haltman-at commented on #999
Hm, some sort of publish seems to have happened since this was written... it looks like the website has finally updated... no idea what's going on here.

[2021-06-15 12:20] tansaku opened #1008 "testing contract as a different user"
apologies if this is the wrong place for this question, but I am inferring that a test will implictly be taking place as a particular user/account.  For example in a test like:

[code]

then the transfer will take place from accounts[0] to accounts[1], with the implication that the user/account doing the transfer is in charge of account[0].

Is there some way to make that explicit and/or change?

[2021-06-15 15:17] eggplantzzz commented on #1008
For contract methods (when using @truffle/contract objects), there is always an implicit final argument. So for example, say your Solidity function takes 2 arguments, there is always an implicit 3rd "transaction params" argument. These correspond to web3's transaction options (https://web3js.readthedocs.io/en/v1.2.7/web3-eth-contract.html#options) and, as you may guess, set the options for the tra

[2021-06-16 18:14] kevinbluer commented on #1000
Confirmed that this is fixed. Closing 👌

[2021-06-16 18:14] #1000 closed

[2021-06-17 22:42] tansaku commented on #1008
hi @eggplantzzz big thanks for that - exactly what I wanted to know.  Tests all passing now :-)

[2021-06-17 22:42] #1008 closed

[2021-06-23 19:44] lsqproduction commented on #905
PR #1015 is in 😁

[2021-06-25 21:14] spectre1989 opened #1023 "In-test debugging doesn't seem to work"
On the docs page about debugging [here ](https://www.trufflesuite.com/docs/truffle/getting-started/debugging-your-contracts#in-test-debugging) it describes how to debug contracts using a test, this first example is with a transaction.

Then [here](https://www.trufflesuite.com/docs/truffle/getting-started/debugging-your-contracts#debugging-read-only-calls) it describes how to debug read-only calls.

[2021-06-26 00:53] VIPOJIKOP opened #1024 "VOPS"

[2021-06-27 12:21] #1024 closed

[2021-06-29 20:20] haltman-at commented on #1023
Hey, it sounds like you're describing an issue with Truffle; this repo is for our website.  I'm going to move this over to the Truffle repo and then respond to it there.

[2021-07-13 11:08] Reudlak opened #1036 "Tezos Truffle documentation links are broken/not working"
Hey, when I try to access the Tezos Truffle documentation(https://www.trufflesuite.com/docs/tezos/truffle/quickstart) and click on the links on the left get every time an 404 error.

For example this link isnt working: https://www.trufflesuite.com/docs/tezos/truffle/getting-started/compiling-tezos-contracts

Can you please take a look and restore the documentation so its back up online?
![screensh

[2021-07-13 11:13] Reudlak opened #1037 "Mainline integration of Tezos in Truffle status"
Hi, over a year ago you stated in this article on 2020-4-15 - https://www.trufflesuite.com/blog/branching-out-announcing-tezos-support-in-truffle that you want to add

1) Mainline integration of Tezos in Truffle
1) a Tezos-flavored Ganache
2) full support for SmartPy

I cant find anything about it, whats the status?

[2021-07-13 22:15] haltman-at commented on #1036
Hm, it looks like those docs got deleted in #939 for some reason. I guess we'll have to see about restoring them.

[2021-07-13 23:28] Reudlak commented on #1036
Please if thats possible that would be great. Thanks!

[2021-07-14 18:18] eggplantzzz commented on #1037
Hey @Reudlak, thanks for the inquiry! This work is still in progress though I'm not really sure how soon we expect this work to be done. The best I can tell you for now is to keep watch on the Truffle PRs/release notes to check for updates. Thanks!

[2021-07-14 18:18] #1037 closed

[2021-07-20 23:43] Reudlak commented on #1037
Ok thanks I will keep watching!

[2021-07-21 05:11] howdyAnkit commented on #944
Hello @davidmurdoch  can I get assigned for this?

[2021-07-21 19:21] haltman-at opened #1040 "Migrations docs need better examples"
Like, a full example of deploying a contract with a linked library would be good to include I think.  Likely there should be a separate "examples" section?

[2021-08-03 09:08] Reudlak commented on #1036
Can you guys give maybe an ETA when this will be restored?

[2021-08-03 20:13] davidmurdoch commented on #944
Hey @howdyAnkit! Please feel free to work this! Let us know if you still want to!

[2021-08-03 20:58] howdyAnkit commented on #944
Yeah Sure @davidmurdoch  Please feel free to assign it to me.

[2021-08-12 23:26] gnidan opened #1043 "Document `compilerRoots` and `spawn` solc options"
[Truffle's solc compiler config documentation](https://www.trufflesuite.com/docs/truffle/reference/configuration#solc) is missing these two options. How ever will users know that they can choose from where to download solc!?

_Originally posted by @haltman-at in https://github.com/trufflesuite/truffle/pull/4222#discussion_r687272703_

[2021-08-17 10:13] shashanksinghthakur commented on #737
Please help I am having the same error but this solution is not working

[2021-08-19 21:45] davidmurdoch opened #1049 "Fix docs links to ganache options and networks"
See https://github.com/trufflesuite/trufflesuite.com/pull/1048#pullrequestreview-734487025

[2021-08-20 11:11] HarsimranVirk opened #1051 "The download button redirects to the wrong release page"
The issue here is with the site, the download button redirects to [ganache release page](https://github.com/trufflesuite/ganache/releases/tag/2.13.2), instead of [ganache-ui release page](https://github.com/trufflesuite/ganache-ui/releases/tag/v2.5.4).

Even though the code here seems fine, I'm not sure why it doesn't reflect on the actual website.
https://github.com/trufflesuite/trufflesuite.com/

[2021-08-20 16:21] davidmurdoch commented on #1051
Thanks for opening this issue. This was fixed in https://github.com/trufflesuite/trufflesuite.com/pull/1048 and deployed this morning!

[2021-08-20 16:21] #1051 closed

[2021-08-22 00:51] gnidan opened #1052 "Add guide for EIP-712 messages with @truffle/hdwallet-provider"
[Truffle v5.4.7](https://github.com/trufflesuite/truffle/releases/tag/v5.4.7) introduced support for [EIP-712](https://eips.ethereum.org/EIPS/eip-712) in @truffle/hdwallet-provider.

Truffle's docs should show an example of this.

[2021-08-22 10:47] howdyAnkit opened #1053 "Fix UI input for Truffle mailing list on /docs page"
I am hoping this is not intended behaviour. currently, when you visit the truffle docs (```https://www.trufflesuite.com/docs```) page and scroll to the signup for mailing list section the email user input doesn't seem to be aligned with the other user input section.

Please find below-attached Images for reference
![truffleUI](https://user-images.githubusercontent.com/40737659/130352021-70a48719-8

[2021-08-23 02:56] taylorjayoung opened #1054 "Truffle Pet Shop links to 404 Page"
In the line that says: "Note: For Truffle basics, please read through the Truffle Pet Shop tutorial before proceeding."

Link is to : https://www.trufflesuite.com/tutorials/pet-shop

Working link is: https://www.trufflesuite.com/tutorial

[2021-08-23 03:14] #1054 closed

[2021-08-23 03:14] taylorjayoung commented on #1054
Creating Pull request to fix.

[2021-09-02 17:43] davidmurdoch opened #1059 "Fleek rewrite: add 404.html for 404 support"
See https://docs.fleek.co/hosting/troubleshooting/#adding-404-errors

[2021-09-08 18:33] #1049 closed

[2021-09-08 18:43] kevinbluer commented on #1053
Hey @howdyAnkit, thanks for raising this...definitely an issue! We're actually in the process of moving our site over to a new framework and we'll be sure to address this as part of that initiative.

Thanks again!

[2021-09-15 18:12] #1059 closed

[2021-09-15 18:16] kevinbluer commented on #1059
Implemented on the new site build (repo currently private although will be made public shortly) 👌

[2021-09-28 18:28] fainashalts opened #1068 "Fix Tutorial: Using Infura (Or a Custom Provider)"
[This tutorial](https://www.trufflesuite.com/tutorials/using-infura-custom-provider) needs some fixing. This came out of the tutorial review issue trufflesuite/issue-target-tmp#1.

**Issues to Fix**
- double check whether the windows error info box still necessary
- rewrite the mnemonic section: right now it sounds like you can just generate a mnemonic and use it, we should be more clear that it h

[2021-09-28 18:28] fainashalts opened #1069 "Fix Tutorial: Beta Solidity Unit Tests"
[This issue](https://www.trufflesuite.com/tutorials/solidity-unit-tests) needs some fixes. This issue arose from the tutorial review issue, trufflesuite/issue-target-tmp#1.

**Issue to Fix**
- Remove "Beta" from title
- Solidity versioning — upping the version will require changes to the test contract code (like declaring functions public, for instance)
- Update test running image to show all test

[2021-09-28 18:28] fainashalts opened #1070 "Fix Tutorial: Deploying to the Live Network"
[This tutorial](https://www.trufflesuite.com/tutorials/deploying-to-the-live-network) needs some fixes. This issue arose from the tutorial review issue, trufflesuite/issue-target-tmp#1.

**Issue to Fix**
- `cpp-ethereum` is now `aleth`
- Need an explainer about these values in the config and how rpc and networks values interface
- Add a warning that deploying on a live network like mainnet costs r

[2021-09-28 18:28] fainashalts opened #1071 "Fix Tutorial: Configuring Visual Studio Code for Ethereum Blockchain Development"
[This tutorial](https://www.trufflesuite.com/tutorials/configuring-visual-studio-code) need some fixes. This issue arose from the tutorial review issue, trufflesuite/issue-target-tmp#1.

**Issues To Fix**
* VSCode extension section/sidebar navigation looks different now. May be nice to have new screenshots for this; an external contributor wrote up this tutorial so determine if the process of maki

[2021-09-28 18:28] fainashalts opened #1072 "Fix Tutorial: Building and Testing a Frontend App"
[This tutorial](https://www.trufflesuite.com/tutorials/https://www.trufflesuite.com/tutorials/building-testing-frontend-app-truffle-3\
) need some fixes. This issue arose from the tutorial review issue, trufflesuite/issue-target-tmp#1.

**Issues To Fix**
* Change this to an updated Truffle version (or make it evergreen?)! The tutorial still works on Truffle v5 so this shouldn't be too complicated.

[2021-09-28 18:28] fainashalts opened #1073 "Fix Tutorial: Ethereum Overview"
[This tutorial](https://www.trufflesuite.com/tutorials/ethereum-overview
) need some fixes. This issue arose from the tutorial review issue, trufflesuite/issue-target-tmp#1.

**Issues To Fix**
* Either add a section on ETH2 or create an issue to make a post about ETH2 when it is more relevant to our tooling
* add links for people to get more information about each section
* “Beyond just tracking a

[2021-09-28 18:28] fainashalts opened #1075 "Redo/Fix Tutorial: Pet Shop Tutorial"
[This tutorial](https://www.trufflesuite.com/tutorials/pet-shop) needs some fixes and updates.This issue arose from the tutorial review issue, trufflesuite/issue-target-tmp#1.

Kevin and Amal have thoroughly reviewed this tutorial, and have a list of suggestions for how it should be organized and conveyed to users. This list is viewable here: https://docs.google.com/document/d/1zuseLVWQ2o_xFdWHVoe

[2021-09-28 18:29] fainashalts opened #1077 "Fix Tutorial: Debugging a Smart Contract"
[This tutorial](https://www.trufflesuite.com/tutorials/debugging-a-smart-contract) requires some updates to work properly. This issue arose from work on trufflesuite/issue-target-tmp#1.

*Issues to Fix*
- need to update solidity version; going past `0.5.0` will require that the `get()` function in `Store.sol` is designated as `view` rather than `constant`
- typo: “We will see how the issues presen

[2021-11-12 04:11] haltman-at commented on #1043
Note: The `dockerTagsUrl` option is similarly undocumented.

[2021-11-13 11:25] Reudlak opened #1085 "Tezos Truffle suite is outdated and not working"
Actually, Tezos Truffle is quite outdated. Truffle doesn't even compile Ligo smart contracts at all. Because ligo have updated their cli but Truffle uses ligo:next version and expects the old one. To make it work it is needed to create the patch to change the Ligo version inside Truffle to allow the contracts' compilation even now.
https://www.trufflesuite.com/docs/tezos/truffle/getting-started/us

[2021-11-14 00:32] ndrslmpk opened #1086 "Tutorial "Writing Tests in Solidity" misses to address how to access multiple accounts for testing"
Hey guys,

as I'm working myself through the tutorials, I'm missing a good explanation of how to use multiple accounts for calling functions in a test file for my contract. I'm referencing this [tutorial](https://www.trufflesuite.com/docs/truffle/testing/writing-tests-in-solidity).

Can anybody help me out if I'm missing a source?

Looking forward your responses!

[2021-11-14 00:39] ndrslmpk commented on #934
Just because of interest - can somebody explain this issue to me? Does it mean that web3.js is an outdated library, that shouldn't/can not be used anymore?

[2021-11-17 14:57] lsqproduction commented on #1086
Hi, @ndrslmpk Thank you for bringing this to our attention. We will work on improving this part of the documentation.

My understanding is that it would be better to use Javascript to test using multiple accounts vs Solidity. Or you can have multiple test contracts to act as multiple users since each contract can only represent one account at a time.

I learned that Solidity testing is better suit

[2021-11-17 18:52] fainashalts commented on #1086
Hi @ndrslmpk we plan to improve our documentation on the differences between solidity and javascript testing in Truffle, including more information on using multiple accounts. This should be more clear soon.

If you have more specifics on what you are attempting to do please share it here so we can incorporate the feedback in our documentation. Thanks for bringing up this issue!

[2021-11-18 14:32] timongty commented on #1085
Hi @fainashalts, just an extra note, the Tezos.self_address instruction does not seem to work with Truffle as well

[2021-12-02 17:24] kevinbluer opened #1088 "Update community page"
Update https://trufflesuite.com/community to reflect our new community channel(s) (and retire the legacy ones)

[2021-12-02 17:29] kevinbluer opened #1090 "Add db, codec, and preserves typedoc generation to a gh action"

[2021-12-03 16:56] jjbully opened #1092 "Doc site is broken"
the doc site is broken

https://trufflesuite.com/guides/ethereum-overview

[2021-12-03 18:00] kevinbluer commented on #1092
Oooh thanks for raising this @jjbully! We just did a migration to a new static site generator (mkdocs / material) and while I remember this getting fixed, it looks looks like it must have reverted somewhere along the way. We'll get on it ASAP 👍

[2021-12-03 18:40] kevinbluer commented on #1092
Should be now resolved @jjbully (https://trufflesuite.com/guides/ethereum-overview), thanks so much again for raising! Closing for now although feel free to re-open / raise any other issues.

Have a great weekend 🥳

[2021-12-03 18:40] #1092 closed

[2021-12-03 18:41] kevinbluer opened #1094 "Handling boxes that don't have images in the repo root"
E.g. the metacoin box https://trufflesuite.com/boxes

[2021-12-03 18:43] kevinbluer opened #1095 "Page titles for docs page (remove the redundant prefixes)"
Example below...see the left-hand nav when you open https://trufflesuite.com/docs/drizzle

<img width="155" alt="Screen Shot 2021-12-03 at 12 42 05 PM" src="https://user-images.githubusercontent.com/210755/144655856-e85d38d4-3256-4c6b-af09-8fff22e6ca3d.png">

[2021-12-03 18:45] kevinbluer opened #1096 "Remove link underlining in Safari (desktop and mobile)"
Example below...

<img width="572" alt="136441166-8f3fde69-6a67-4a06-b56a-7c91d2d1d6e0" src="https://user-images.githubusercontent.com/210755/144656247-f5ddcb87-285c-4dd9-b83a-b4f8a27e94b7.png">

[2021-12-03 23:16] kevinbluer opened #1097 "Edit links at the bottom of each page"
With a link to the markdown editor in github, theoretically making them directly editable

[2021-12-03 23:17] kevinbluer opened #1098 "Hovering over the search input makes the "Search" placeholder text invisible (while in light mode)"

[2021-12-06 05:43] jjbully opened #1100 "broken site"
https://trufflesuite.com/guides/building-testing-frontend-app-truffle-3.html

[2021-12-06 16:27] kevinbluer commented on #1100
Thanks for raising @jjbully, can you confirm where this was linked from as while it's still live it's pretty out-of-date? Also for reference if you drop the `.html` extension the page renders ok: https://trufflesuite.com/guides/building-testing-frontend-app-truffle-3/

Thanks again 👍

[2021-12-07 20:20] davidmurdoch opened #1102 "https://trufflesuite.com/devcon5 is missing"

[2021-12-08 19:04] fainashalts commented on #1094
@kevinbluer mentioned we may want a placeholder image to make boxes that are missing an image look nicer. This may be the right solution, @cds-amal will work with Kevin to sort this out.

[2021-12-08 19:09] fainashalts commented on #1100
Looks like this link is not broken, @jjbully can you tell us where you found this link? We want to be sure to update it. Thanks!

[2021-12-13 14:58] lsqproduction commented on #1068
now under https://trufflesuite.com/guides/using-infura-custom-provider/index.html

[2021-12-13 16:33] kevinweaver opened #1104 "Nav bar is broken on desktop in smaller browser widths."
## Problem
Currently this happens when you click the hamburger icon in the nav on desktop when their browser is small enough for mobile nav:
![broken-nav](https://user-images.githubusercontent.com/1020682/145851001-376f8228-1edd-42d2-98f1-c85039fb4df0.gif)

## Solution
Make sure users are can still navigate on desktop in mobile mode.

[2021-12-14 15:10] MicaiahReid opened #1109 "Markdown Not Rendering Correctly on Tutorial"
The [Expand This Section](http://trufflesuite.com/tutorial/#testing-the-smart-contract-using-javascript) markdown isn't correctly rendering. It shows back ticks and asterisks rather than in-line code and bullets.

![image](https://user-images.githubusercontent.com/17027138/146024845-89aaca04-d52a-468e-8551-5231e4b61f4f.png)

[2021-12-14 17:36] MicaiahReid opened #1118 "Make New DeFi Box"
We've made the [existing DeFi Box](https://github.com/truffle-box/defi-box) private because its tests currently don't pass and it uses some libraries that we probably don't want to use anymore.

We should remake and possibly re-imagine the DeFi box. It definitely has a lot of potential value to our users.

[2021-12-14 18:16] lsqproduction commented on #1104
what browser was this? it seems ok on chrome and brave

[2021-12-14 19:46] kevinbluer commented on #1097
Consider leveraging the following:

- https://github.com/ConsenSys-Academy/Blockchain-Developer-Bootcamp/blob/staging/custom_theme/edit.html
- https://github.com/ConsenSys-Academy/Blockchain-Developer-Bootcamp/blob/staging/mkdocs.yml#L3

[2021-12-14 23:54] dkillen commented on #1076
@fainashalts - I have a question about your last issue here. Are you referring to the code in the drizzle-event-demo repo as opposed to the tutorial itself? Following the tutorial doesn't result in that code. However, I noticed that it is present in the demo code which is referred to by the tutorial.

[2021-12-15 00:51] fainashalts commented on #1076
Oh! Sorry @dkillen its been nearly a year since I audited all the tutorials, but I think you are right. Its the demo code that isn't working. If its an easy fix, do you think you could update the demo? If its not an easy fix, perhaps you can add a to-do to the dev rel doc so it doesn't get lost? Thanks!

[2021-12-17 01:33] dkillen opened #1119 "Name collision in vue-box truffle box"
There appears to be a name collision in the vue-box truffle box which results in incorrect readme for the box on the website. There are presently two Vue boxes in the website's data.json file with the same displayName and repoName. However, each have a different userOrg. One is set as an official box and the other not.

  {
    "userOrg": "truffle-box",
    "displayName": "vue-box",
    "repoName"

[2021-12-20 03:08] MicaiahReid opened #1122 "Change all links to `/docs/getting_started/`"
The directory no longer exists, so all of those links (36 as of writing this) are now 404s.

[2021-12-20 21:12] #1095 closed

[2021-12-20 21:12] #1098 closed

[2021-12-20 21:12] #1109 closed

[2022-01-02 19:07] Reudlak commented on #1085
Any news?

[2022-01-03 17:37] fainashalts opened #1124 "Audit documentation for our main products and update as needed"
Some of our documentation is likely outdated and needs refreshing. Specifically:

- [ ] [Truffle](https://www.trufflesuite.com/docs/truffle/overview)
- [ ] [Ganache](https://www.trufflesuite.com/docs/ganache/overview)
- [ ] [Drizzle](https://www.trufflesuite.com/docs/drizzle/overview) (probably needs more discussion as far as support going forward, roadmap, etc.)
- [ ] [Teams](https://trufflesuite

[2022-01-03 17:40] fainashalts opened #1125 "Add notice to Drizzle documentation"
Add something along the lines of "Drizzle will be getting a fresh spritz soon. Watch this space!" at the start of our Drizzle documentation.

[2022-01-03 17:49] fainashalts opened #1126 "Check currently published tutorials for accuracy"
Check all currently published tutorials [here](https://trufflesuite.com/guides/) and ensure they work as expected. Make fixes to any that are broken.

[2022-01-03 21:16] fainashalts opened #1128 "New Tutorial: Writing Solidity Tests"
We need an up-to-date tutorial on Solidity tests with Truffle.

- [ ] take a look at this sample from Amal getting around the multiple accounts issue: https://github.com/cds-blog-code-samples/MarketSample
- [ ] Refer to the old Solidity test tutorial for guidance: https://trufflesuite.com/guides/solidity-unit-tests/
This old tutorial could provide an outline for the new one, to make it easier/fast

[2022-01-03 21:18] fainashalts opened #1129 "New Tutorial: Package Management With Truffle"
[This tutorial](https://trufflesuite.com/guides/package-management/) is out of date. Needs a rewrite to be more relevant and cover newer tooling. This came out of the tutorial review issue #320
Proposed sections

- [ ] Truffle file system layout
- [ ] Using a package within a Truffle project
- [ ] Installing an npm library
- [ ] Using a package's contracts within your contracts
- [ ] Requiring an

[2022-01-03 23:06] #1076 closed

[2022-01-04 00:02] fainashalts opened #1130 "New tutorial: Importing and Using External Contracts in Your Truffle Project"
[This tutorial](https://trufflesuite.com/guides/robust-smart-contracts-with-openzeppelin/) is outdated, specifically when it comes to solc versioning. A new tutorial that covers the following points would be great:

sources of external contracts -- OpenZeppelin's library, anything else?
can still use OpenZeppelin and the tutorialtoken box as the example, but these need to be updated to have consis

[2022-01-04 17:29] fainashalts opened #1132 "New Canonical Tutorial: Getting Started With Truffle"
Scope/design a new “canonical” tutorial for Truffle’s website; this should be very simple and a way to get users started using our tooling. Should have a react frontend component, explanation of a Truffle project’s structure, and instructions for how to compile, migrate/deploy, and test.

This task is a good one to pair on, perhaps discuss thematic ideas with other team members (will need a theme,

[2022-01-05 19:11] haltman-at commented on #1124
Here is a link to the list of Truffle documentation issues that are on the Truffle repo: https://github.com/trufflesuite/truffle/issues?q=is%3Aopen+is%3Aissue+label%3ADocs

[2022-01-05 19:11] haltman-at commented on #1124
Also for Ganache: https://github.com/trufflesuite/ganache/issues?q=is%3Aopen+is%3Aissue+label%3Adocumentation

[2022-01-05 19:12] haltman-at commented on #1124
And for Drizzle: https://github.com/trufflesuite/drizzle/issues?q=is%3Aopen+is%3Aissue+label%3Adocumentation

[2022-01-05 19:24] kevinweaver commented on #1132
Whoever grabs this should set up a scoping meeting with the team prior to implementing.

[2022-01-10 21:51] LoveKosmos opened #1135 "Some pages on https://trufflesuite.com/ give 404's"
When selecting the **BOXES** tab on [trufflesuite.com/index.html](https://trufflesuite.com/index.html) and clicking on **CREATE A BOX**

On [https://trufflesuite.com/docs/truffle/advanced/creating-a-truffle-box.html](https://trufflesuite.com/docs/truffle/advanced/creating-a-truffle-box.html) page click on the _**'download the files here'**_ link which will redirect you to the 404 ([https://truffle

[2022-01-10 23:25] tenthirtyone opened #1136 "Copy button icon on code blocks is same color as background, increase margin/spacing"
Description:

The Copy Button icon used in the code blocks on the website is white and transitions to a blue on hover. However, the background is also white and the margin/spacing needs to be increased to put the button inside the rounded border.

Example:
![image](https://user-images.githubusercontent.com/6285466/148854462-40790439-f5df-4082-889d-5e61f5f79d7a.png)

[2022-01-10 23:42] MukulKolpe commented on #1136
Hey @tenthirtyone...Can I work on this issue?

[2022-01-11 01:49] kevinbluer commented on #1136
Great spot @tenthirtyone! And absolutely @MukulKolpe (thanks for the offer). Be sure to branch off of `main`...also note that we just switched framework for the site so there may still be a few lingering quirks.

Any questions don't hesitate to ask + thanks again 👍

[2022-01-11 01:51] kevinbluer commented on #1135
Awesome thanks for raising @LoveKosmos! We'll get on with getting these resolved 👍

[2022-01-11 14:47] FlaviuWeb3 opened #1138 "Download button (Windows) for Ganache is not working"
When clicking the Download (Windows) button https://trufflesuite.com/ganache, the link is not starting any download (no redirect)

<img width="1440" alt="Screenshot 2022-01-11 at 16 46 36" src="https://user-images.githubusercontent.com/97533870/148964548-f574b65e-4bca-40e7-a4f3-17b80bcf795a.png">

[2022-01-11 18:18] davidmurdoch commented on #1138
@kevinbluer is fixing this and will have a fix out for this ASAP!

[2022-01-11 18:54] #1138 closed

[2022-01-13 16:15] kevinbluer opened #1142 "Visual quirks on the hero graphic the Ganache details page"
Note the hero graphic on the following: https://trufflesuite.com/ganache

<img width="959" alt="Screen Shot 2022-01-11 at 1 04 48 PM" src="https://user-images.githubusercontent.com/210755/149366866-20a54b50-7e46-4189-964e-8f48d7743e48.png">

[2022-01-13 17:20] kevinbluer commented on #1122
Just for reference, a lot the very visible ones were addressed in https://github.com/trufflesuite/trufflesuite.com/pull/1137 🥳 I can still see ~20 although they're now just in a bunch of somewhat legacy guides / blog posts.

[2022-01-13 17:57] #1135 closed

[2022-01-13 18:17] davidmurdoch opened #1144 "Found 83 links on trufflesuite.com that 404"
See attached report:

[links.txt](https://github.com/trufflesuite/trufflesuite.com/files/7865087/links.txt)

[2022-01-13 20:47] kevinbluer commented on #1144
Out of interest when did you run this, as this [PR](https://github.com/trufflesuite/trufflesuite.com/pull/1137) got merged ~4 hours ago that fixed a bunch?

[2022-01-13 21:31] davidmurdoch commented on #1144
I'll run it again now to make sure.

[2022-01-13 21:50] davidmurdoch commented on #1144
[siteerrors.log](https://github.com/trufflesuite/trufflesuite.com/files/7866227/siteerrors.log)

82 errors found.

[2022-01-14 05:53] Neurone commented on #1144
They should be all fixed now (#1145), but some resources are actually missing from the repo at all.

[2022-01-14 05:54] Neurone commented on #1122
They should be all fixed now (#1145).

[2022-01-15 01:54] Neurone opened #1148 "PoC: Using redirects for old urls"
Following the discussion with @davidmurdoch and @kevinbluer in PR #1145, I've created a [test branch](https://github.com/InternetOfPeers/trufflesuite.com/tree/redirect-for-old-url) dedicated to the developer's experience of what it means to maintain old URLs with working redirects.

In the dedicated branch, you test the new landing page for the redirects and how to configure the redirect flow with

[2022-01-18 17:33] kevinweaver commented on #1104
I can reprod this issue in Firefox, Chrome, and Brave.  It looks like "any page other than the home page" might have been too broad.  I am seeing this consistently on Guide pages such as: https://trufflesuite.com/guides/drizzle-and-contract-events/index.html

[2022-01-18 19:47] kevinbluer commented on #1144
Thanks again @Neurone! @davidmurdoch this should be all good to close when you have a moment.

[2022-01-18 20:17] kevinbluer opened #1149 "Uptime monitoring"
Put uptime monitoring in place with a service like https://uptimerobot.com or https://www.pingdom.com

[2022-01-19 19:34] kevinweaver commented on #1136
Hi @MukulKolpe, is there any way that we can help move this one along?

[2022-01-20 19:11] pstrotmann opened #1151 "Smart contract in ganache is not updated"
Truffle Ticket #702341 [Pending] Support Ticket sent from peter@strotmann.org in HubSpot - Truffle

All you need to reproduce the Issue is contained in the repo:

https://github.com/pstrotmann/SimpleStorage

I would expect storedData = 17 in my smart contract after running simple_storage.js because the assert after calling

[code]

indicates that 17 is stored in storedData.

Therefore I would expe

[2022-01-21 02:26] MukulKolpe commented on #1136
Hi @kevinweaver, unfortunately, I am stuck with some work. It will be great if someone else starts working on this one...sorry

[2022-01-24 18:07] eggplantzzz commented on #1151
Hey @pstrotmann! The behavior you specify above is correct and expected. Ganache has a special rpc method for reverting state. While running `truffle test`, Truffle at different points resets the state of the chain to what it previously was as this is very useful for testing. Relevantly, one of those times is at the end of running the test suite. So I would expect the chain to be in the state it w

[2022-01-25 10:38] pstrotmann commented on #1151
do not agree with you that rollback at the end of test suite is the desired behavior. A successful transaction instead should follow the ACID paradigm with the D meaning durable as default. At least the user should have the choice rollback or not.

As you indicated in your last sentence there is a means to have such a choice using migrations. But unfortunately I do not understand how that works. I

[2022-01-25 19:36] pstrotmann commented on #1151
neither of the two suggestions meets my needs. Using truffle console makes no difference than saying truffle <command> from outside the console. Using migrations is just setting variables at deploy time, no dynamic setting of contracts possible.

I give up

[2022-01-25 22:36] eggplantzzz commented on #1151
Hey @pstrotmann, what exactly are your needs? I thought you were just reporting what you thought was a bug. Let me know what you are interested in accomplishing and I can try and help. The console allows you to deploy and interact with your contracts if that is what you are interested in.

[2022-01-26 19:50] gnidan commented on #1148
Hey @Neurone sorry for the delay; we haven't forgotten about you! The team's just juggling priorities this week and last, but we should have a thoughtful response to your efforts by the end of next week at the latest. Thanks for all your help with these broken link issues!

[2022-01-29 03:54] haltman-at opened #1154 ""Community" page is out of date and leads people into traps"
While the ["community" page](https://trufflesuite.com/community/index.html) (which is labeled "community" in the nav bar, but "community & support" on the page itself? That should likely be made consistent) does prominently feature "Open a Support Ticket" as the first option, I think the options presented in the "A Little Help From Our Friends" section is misleading.

In my experience, Gitter is l

[2022-02-01 20:58] kevinbluer opened #1156 "Versioned docs"
This is a relative out-of-the-box feature of [mkdocs-material](https://squidfunk.github.io/mkdocs-material) when we're ready. Details [here](https://squidfunk.github.io/mkdocs-material/setup/setting-up-versioning/).

[2022-02-01 21:01] kevinbluer opened #1157 "Add "unbox" command example to the box pages"
In the case of boxes that have minimal detail in the README (such as [Metacoin](https://trufflesuite.com/boxes/metacoin/) we'll want to ensure we include some installation steps.

In the previous iteration of the site this was in a right-hand column and unfortunately it didn't make it over.

[2022-02-01 21:03] kevinbluer opened #1158 "Multilingual support"
This is out-of-the-box with mkdocs-material (see [here](https://squidfunk.github.io/mkdocs-material/setup/changing-the-language/?h=langua) for setup details).

Obviously getting actual translations for the content itself is a different matter 😀

[2022-02-01 21:24] kevinbluer opened #1159 "GH action to autogenerate and publish the db, decoder, and preserve docs"
Currently the docs for the [decoder](https://trufflesuite.com/docs/truffle/codec/), db, and preserve (which are generated via typedoc) need to be manually generated and updated.

The plan is to bundle this into a Github action (still TBD regarding the trigger) that automates the process.

[2022-02-01 21:30] kevinbluer opened #1160 "Ability to filer Boxes with persistence on the routes"
The previous iteration of the site had the ability to filter the [boxes](https://trufflesuite.com/boxes/) via keyword(s) and type. This was removed given its reliance on jQuery and the fact it's likely we'll be refactoring the underlying metadata used to generated the boxes.

That said, it would be good to add this back in, perhaps with some additional features such as route persistence (something

[2022-02-01 21:34] kevinbluer opened #1161 "Spellcheck during CI"
Came about off the back of an internal discussion (and very much a nice-to-have). There's a few libraries we could leverage, [pyspelling](https://facelessuser.github.io/pyspelling/) for example and it would take some thought as to how it would raise any typos / issues. Also I'd imagine there'd be a lot of false positives given the amount technical content which we'd need to handle with `ignores` (

[2022-02-01 21:39] kevinbluer opened #1162 "Switch over to IPFS (via Fleek)"
We'll need to wrap-up the performance testing (recent ad hoc testing seemed to indicate no issues), but assuming all-good then it would be awesome to switch over.

[2022-02-02 23:28] davidmurdoch opened #1165 "`MyContract.new` documentation is incorrect (or misleading)"
see: https://trufflesuite.com/docs/truffle/reference/contract-abstractions.html#mycontractnewarg1-arg2-tx-params

The function signature could be improved. I'm not sure the proper way to denote this. In typescript it would be something like:

[code]

When I read the signature as it is now I thought the first argument was an _array_ of arguments, and the second argument was a transaction parameter

[2022-02-07 22:34] kevinweaver commented on #1136
No worries @MukulKolpe, just wanted to check back in! We can finish this on our end.

[2022-02-08 21:49] kevinbluer opened #1168 "sitemap.xml not valid / generating correctly"
Spotted when attempting to import the [sitemap.xml](https://trufflesuite.com/sitemap.xml) into the Google Search Console. It's likely the issue arrises during the `mkdocs build` step. Also worth confirming how it looks when built locally vs the build generated by the Github Action ([example](https://github.com/trufflesuite/trufflesuite.com/actions/runs/1814523968)).

[2022-02-09 04:09] kevinbluer commented on #1148
Hi @Neurone, likewise thanks so much for digging into this (and apologies for the delay in following up) 👍

The approach definitely looks viable, albeit with the maintenance considerations you mention. I did do a bit of digging and it does look like there's potentially a more canonical approach via [this plugin](https://github.com/datarobot/mkdocs-redirects) wherein you specify a list of `redirect

[2022-02-09 10:55] Neurone commented on #1148
I didn't know that plugin before, but I looked at it, and I think it's too essential for what you need.

The plugin creates new redirect pages at build time where old ones were, redirecting to the new page. It does it following a list you need to maintain. It does not address problems with old links inside pages or the navigation toolbar, so developers need to do that _and_ manage the new plugin.

[2022-02-09 19:08] haltman-at commented on #995
We're going to close this for issue maintenance, but let us know if there's still a problem and we can reopen it.  Thanks!

[2022-02-09 19:08] #995 closed

[2022-02-09 19:44] haltman-at commented on #1100
Hm, that link definitely does 404... we'll have to do something about that.  Thanks for bringing this up!

[2022-02-10 06:58] michaeljohnbennett commented on #1168
checking locally for mkdocs build and this is happening as well. Will need to search over the mkdocs issues for some pointers/ideas

[2022-02-12 17:20] HarcourtHamsa opened #1172 "Inaccessible links on the website's navbar"
When in desktop mode, the following links are not clickable on the website's navigation bar:
- Boxes
- Blog
- Community

## Expected Behavior
All links on the website's navigation bar should be clickable both on desktop and mobile view.

## Current Behavior

When in desktop view, the boxes, blog and community links on the navigation not clickable. They are being covered by an image in the hero sec

[2022-02-12 17:58] warstrolo opened #1171 "BUG - Menu not clickable"
![image](https://user-images.githubusercontent.com/58334832/153722588-00c6046d-0662-4dbe-9806-3ef492c13f25.png)

the ganache block are making the menu unclickable

[2022-02-12 17:59] warstrolo commented on #1171
Impacted url : https://trufflesuite.com/ganache/

[2022-02-14 17:12] #1142 closed

[2022-02-15 22:22] haltman-at opened #1174 "`truffle debug --url` needs to be documented"
Both on the [using the debugger](https://trufflesuite.com/docs/truffle/getting-started/using-the-truffle-debugger.html) page and in the [command reference](https://trufflesuite.com/docs/truffle/reference/truffle-commands.html).

[2022-02-16 17:05] anas-2627 opened #1176 "i am facing this issue . can some one help me ?"
C:\Users\ANAS>truffle
node:internal/modules/cjs/loader:936
  throw err;
  ^

Error: Cannot find module 'C:\Users\ANAS\AppData\Roaming\npm\node_modules\truffle\build\cli.bundled.js'
[90m    at Function.Module._resolveFilename (node:internal/modules/cjs/loader:933:15)[39m
[90m    at Function.Module._load (node:internal/modules/cjs/loader:778:27)[39m
[90m    at Function.executeUserEntryPoint [as

[2022-02-16 19:47] gnidan commented on #1171
I believe this is now fixed. @warstrolo would you mind please confirming?

(Thanks for bringing this to our attention!)

[2022-02-16 19:48] gnidan commented on #1172
Thanks for raising this! Closing this as duplicate of #1171, but please let us know if that's not the case. Cheers!

[2022-02-16 19:48] #1172 closed

[2022-02-16 22:14] warstrolo commented on #1171
Yes good 😊

Btw thanks for the amazing job you are doing with this project,

I did not see but i'm looking for a way top deploy an etherum proof of authority on k8s do you know how Can i do that ?

Big thanks and waiting for your reply 😁

[2022-02-17 17:06] eggplantzzz commented on #1171
Thanks for reporting this @warstrolo, closing this for issue maintenance!

[2022-02-17 17:06] #1171 closed

[2022-02-23 18:47] dongmingh commented on #1176
Hi, @anas-2627, thanks for raising this.  Could you provide more information such as system configuration (OS version), node js version, npm version, truffle version, commands you used etc so that we can follow up?

[2022-03-01 21:49] kevinbluer commented on #1154
Just spotted this is a dupe of #1088 (albeit with this one containing more detail) to which @lsqproduction is currently down as the assignee. @lsqproduction if no movement on the other issue, let's perhaps close in favor of this one.

[2022-03-03 22:45] kevinbluer commented on #1148
Hey @Neurone, apologies (again) for the delay with following up! That said, thanks so much again both the approach (and templating it out) and the comparison vs plugins like `mkdocs-redirects`, definitely see the benefits of the former. We're going to be making number of major updates to the site over the coming weeks / months so we'll likely go with it 😀

Thanks again!

[2022-03-04 18:08] #1174 closed

[2022-03-08 21:20] lsqproduction commented on #1144
Fixed in #1145 Thanks again @Neurone for getting to this.

[2022-03-08 21:20] #1144 closed

[2022-03-11 02:46] aparcekarl opened #1193 "Security Report: Subdomain Takeover of staging.trufflesuite.com Pointing to Github"
**Hi Trufflesuite Security Team,**

I just want to reach out to you. I'm trying to submit this report weather your interested on it.

Thanks for taking a look.

Recently, i just found some of your subdomain (*trufflesuite.com) pointing to vulnerable Third Party site "Github"

This issue is about your subdomain being misconfigured in Github

https://staging.trufflesuite.com/
![POC](https://user-ima

[2022-03-11 02:50] aparcekarl opened #1194 "Security Report: Subdomain Takeover of https://relay.trufflesuite.com/ Pointing to Github"
**Hi Trufflesuite Security Team,**

I just want to reach out to you. I'm trying to submit this report weather your interested on it.

Thanks for taking a look.

Recently, i just found some of your subdomain (*trufflesuite.com) pointing to vulnerable Third Party site "Github"

This issue is about your subdomain being misconfigured in Github

https://relay.trufflesuite.com/
![POC](https://user-image

[2022-03-12 03:54] dkillen commented on #1074
Fixed in [PR #1189](https://github.com/trufflesuite/trufflesuite.com/pull/1189)

[2022-03-12 03:54] #1074 closed

[2022-03-15 14:58] davidmurdoch opened #1199 "Many links on https://trufflesuite.com/events/ are broken"

[2022-03-15 19:57] davidmurdoch opened #1200 "Website doesn't work on windows with current README instructions"
This makes it difficult to test the site in a Windows environment.

[2022-03-16 18:01] MicaiahReid commented on #1193
Thank you for bringing this to our attention, @aparcekarl. We will forward this to our security team.

[2022-03-16 18:04] MicaiahReid commented on #1194
Thanks @aparcekarl. We'll forward this to security as well.

[2022-03-18 21:56] davidmurdoch opened #1202 "HubSpot form accessibility needs work"
This form is controlled by a hubspot script, so it is a difficult to fix this one.

The main problem is that the error messages and error form fields are not labeled with the appropriate error attributes. See: https://developer.mozilla.org/en-US/docs/Web/Accessibility/ARIA/Attributes/aria-errormessage

[2022-03-19 18:19] ameer-khan-ashraf commented on #1136
Hi, Is this issue fixed or can I start working on it?

[2022-03-21 18:16] jlazoff commented on #1193
Hi,
The staging.trufflesuite.com domain was not live, and had a dead DNS record. I have disabled it. Please QA this fix to ensure we have resolved this issue.

[2022-03-21 18:18] jlazoff commented on #1194
Here is the page rule used by this subdomain:

![Screen Shot 2022-03-21 at 1 45 39 PM](https://user-images.githubusercontent.com/13966291/159338340-3a44c84b-747b-4bd4-9f0a-66f32d913d36.png)

Perhaps making this into a Cloudflare worker, we can block the threat.

[2022-03-22 00:59] aparcekarl commented on #1193
It’s all fixed now. Great work.
I hope this will be eligible for a bug bounty.
Thank you

[2022-03-22 01:05] aparcekarl commented on #1194
Yes, that’s a good remediation

[2022-03-22 01:13] jlazoff commented on #1194
Hi @aparcekarl  and @MicaiahReid ,

I made a small change to the dummy DNS record. **Is the relay subdomain still vulnerable?**

If yes, we will create a stronger page rule or Cloudflare worker.

Appreciate your help,

Joshua

[2022-03-22 01:20] jlazoff commented on #1168
Hi @kevinbluer @michaeljohnbennett, Here is a small outline of the sitemap and URL structures that need to be in sync: https://github.com/trufflesuite/trufflesuite.com/pull/1177#issuecomment-1074192436

Great work!

[2022-03-22 01:50] davidmurdoch commented on #1194
@jlazoff I was unable to exploit this before, since GitHub requires domain verification first. Were you able to exploit it?

[2022-03-22 02:03] aparcekarl commented on #1194
@jlazoff

It's all fixed now. great work.

https://solc.trufflesuite.com/ this is not vulnerable.
Thanks

[2022-03-22 07:39] jlazoff commented on #1194
Excellent, replacing the dummy or broken GitHub cname, with a dummy A IP address seems to have fixed everything!

[2022-03-22 08:12] aparcekarl commented on #1194
@jlazoff Great work.
Is this eligible for a bounty? And the other report?
thank you

[2022-03-27 16:46] ameer-khan-ashraf commented on #1104
@kevinbluer Hi is this issue still open? Just asking as it has been open 2 months ago. I would like to work on this.

[2022-03-28 23:53] kevinbluer commented on #1104
Hey @ameer-khan-ashraf! 100%, that would be awesome if you're able to work on it. Let me / us know if you have any questions as you go.

Thanks in advance!

[2022-03-29 16:35] davidmurdoch opened #1207 "Cookie policy links to a private google doc"
See the Cookies Policy link on https://trufflesuite.com/policy/

[2022-03-29 16:38] davidmurdoch opened #1208 "Privacy Policy may be too broad"
https://trufflesuite.com/policy/

We link to and reference all sorts of things that we don't control, like node, npm, github, microsoft, starbucks, filecoin, ipfs, etc. I don't think we should claim that our policy applies to those "Services", which is what it sounds like our policy is attempting to do. :-)

But I don't speak legalese by any means, so maybe I'm wrong?

[2022-03-30 17:34] davidmurdoch opened #1210 "Our fleek build command for reproducible builds is too wordy and brittle"
Should the fleek build command be `pip3 install -r requirements.txt && mkdocs build` instead of:
![image](https://user-images.githubusercontent.com/187813/160896378-561d1daf-ccc6-4f89-934d-87a27f521ab4.png)

[2022-03-30 17:36] ameer-khan-ashraf commented on #1104
I have found the cause of the issue. In the md files of each post in guides there is a line that hides the material navigation
![image](https://user-images.githubusercontent.com/22253530/160896136-616a9627-dac2-40d3-becb-72d3d188b5b2.png)
Commenting it out makes the navbar work fine. I am guessing @kevinbluer added that to hide navigation for posts in larger screen size? If yes another solution to

[2022-03-30 18:07] gnidan commented on #1210
Yes

[2022-03-30 20:02] davidmurdoch opened #1211 "We should pin the fleek mkdocs docker container to a specifiy the specific SHA hash"
This will ensure reproducible builds

[2022-03-30 21:46] davidmurdoch opened #1213 "https://trufflesuite.com/guides/ isn't mobile friendly (or accessible)"

[2022-03-30 22:29] ameer-khan-ashraf commented on #1104
@kevinbluer I have applied the fix and created a pull request. Please have a look and let me know if that solves the issue.

[2022-04-01 17:17] davidmurdoch opened #1214 "If website build has errors they are ignore and the site is still built and published with parts omitted"
Our main.py script shouldn't swallow errors.

[2022-04-05 20:59] emilyJLin95 opened #1215 "Link githubs for truffle boxes"
Currently, the corresponding github repos are not linked for the various truffle boxes
There used to exist a righthand column for each page that included that

This issue is to add that back in

[2022-04-07 17:39] leeftk commented on #1213
We can't assign the issue to you but if you have a fix for it feel free to create a PR and submit it to us. Thanks!

[2022-04-09 11:12] danoshi commented on #1085
This issue is open since November 2021 and Truffle Tezos is totally broken. When can we expect an update so its usable again?

[2022-04-09 11:20] cds-amal opened #1217 "Search component includes result not on website"
The [website](https://trufflesuite.com/docs/truffle/reference/configuration/) listed `Marymoor park` for `save intermediate` query! It also prioritized this result over possible truffle hits. The search component should constrain the search to truffle's site.
<img width="1258" alt="Screen Shot 2022-04-09 at 7 11 58 AM" src="https://user-images.githubusercontent.com/2529600/162569563-34b23d8c-d673-

[2022-04-09 12:27] cds-amal opened #1218 "Missing documentation for `saveIntermediate` option in truffle compile"
I couldn't find docs for this option. See [code](https://github.com/trufflesuite/truffle/blob/567fcc73e136b580de173f1375971c944cc6ec45/packages/core/lib/commands/compile/run.js#L14-L24)

[2022-04-10 11:44] davidmurdoch commented on #1217
Did it not link to https://github.com/trufflesuite/trufflesuite.com/blob/e16cf05a52273677d2d8dfcff750b6ca2de4752b/src/blog/the-best-things-to-do-in-seattle-during-trufflecon/index.md

[2022-04-12 23:07] kevinweaver commented on #1194
Hi @aparcekarl, I've reached out to the security team to check. We'll get back to you soon!

[2022-04-12 23:07] kevinweaver commented on #1193
Hi @aparcekarl, I've reached out to the security team to check. We'll get back to you soon!

[2022-04-13 15:30] kevinbluer opened #1219 "Build basic form for searching and filter boxes"
Mock the following at the top of https://trufflesuite.com/boxes:

- Free text box for filtering
- Radio buttons for filtering by type

As discussed, the use of `boxes.json` and `data.json` will be evolving so for now let's just build based on as it is right now.

[2022-04-13 17:49] cds-amal commented on #1217
Can we possibly exclude irrelevant results from search results. See: https://github.com/chrieke/mkdocs-exclude-search

[2022-04-13 17:53] cds-amal commented on #1218
This is deliberately undocumented.

[2022-04-13 17:53] #1218 closed

[2022-04-13 18:22] #1200 closed

[2022-04-13 18:27] cds-amal commented on #1168
cc: @kevinbluer , should this be closed?

[2022-04-13 18:30] cds-amal commented on #1149
Closing because we have an uptime robot.

[2022-04-13 18:30] #1149 closed

[2022-04-13 18:47] cds-amal commented on #86
Closing for issue maintenance

[2022-04-13 18:47] #86 closed

[2022-04-13 18:53] cds-amal commented on #155
The documentation might need to clarify what's going on. (selfdestruct to bypass fallback function)

[2022-04-13 21:27] davidmurdoch commented on #1168
@jlazoff

Urls ending with "/" are now canonical and we redirect (302, currently, to make sure things are working correctly) urls ending in `*.html*` to `$1/$2` using a simple cloudflare page rule.

We haven't yet updated internal *.html links to point to their new canonical locations.

[2022-04-13 21:41] davidmurdoch opened #1220 "CloudFlare page rule to redirect *.html links to $1/ breaks db and codec so another rules was added for those"
The solution to opt out doesn't scale, so we'll need to figure out a better solution. Perhaps a CloudFlare worker that can check the origin server (and cache the results at the edge) before redirecting will be the best long term solution, as @jlazoff previously suggested.

[2022-04-13 21:49] davidmurdoch commented on #1220
Current rules:

![image](https://user-images.githubusercontent.com/187813/163275972-eb9a75e2-4f84-46c2-a07c-e6edc03596cc.png)

The first two don't do anything except match ./db and ./codec; this prevents the other rules from running. This isn't a great solution. :-)

[2022-04-13 21:51] jlazoff commented on #1220
Looping in @davidnguyen88 , who has a lot of experience writing Cloudflare Workers, which is a great solution for this issue...

[2022-04-14 01:36] haltman-at opened #1221 "Various options missing from the command reference"
Reference link: https://trufflesuite.com/docs/truffle/reference/truffle-commands/

I didn't check every command, this is just what I noticed on the two I did check.

There's no documentation of the `--config` option that most commands accept.

`truffle migrate` is missing documentation for `--compile-none` and `--quiet`.

`truffle test` is missing documentation for `--compile-none`, `--migrate-non

[2022-04-14 18:14] emilyJLin95 opened #1224 "vs-code ext files are duplicated"
Duplicate files have been created due to casing
We should establish a casing rule and delete the duplicated files

[code]

[2022-04-15 15:14] davidmurdoch opened #1228 ""Close Navigation" link should be hidden for "large" viewport widths"
The Close Navigation link here should only appear when `max-width: 76.1875em` (@media CSS rule). See screenshot below:

![image](https://user-images.githubusercontent.com/187813/163588001-f06e8eba-8d02-4c9c-909c-5c006bdc2826.png)

[2022-04-15 20:48] kevinbluer commented on #1224
Nice spot @emilyJLin95, I'm in the process of resolving on #1229 (along with a few other docs changes) 👍

[2022-04-15 22:20] kevinbluer commented on #1224
Alrighty, all should be good re the dupes (along with a bunch of other VSCode docs updates): https://github.com/trufflesuite/trufflesuite.com/tree/main/src/docs/vscode-ext

[2022-04-21 15:57] #1217 closed

[2022-04-21 18:16] haltman-at commented on #770
@cds-amal says we should close this because the new way of doing boxes is not going to support this anyway.

[2022-04-21 18:16] #770 closed

[2022-04-21 18:19] haltman-at commented on #789
It looks to me like we cover this case now in the blue box, so I'm closing this issue?  We're likely to rewrite this page soon regardless...

[2022-04-21 18:19] #789 closed

[2022-04-26 13:51] Ding-Fan opened #1239 "There's no good tutorial for using @truffle/contract on the frontend"

[2022-05-02 14:16] SHIVANGISINGH1 opened #1238 "Images on trufflesuite.com not very clear"
I am a new user of [trufflesuite.com](https://trufflesuite.com/), I was going through this [page](https://trufflesuite.com/docs/vscode-ext/interacting-with-your-smart-contract/). Images on this webpage are not clear and visible, just a suggestion the mentioned keywords in the paragraphs could be highlighted in the image for a good user experience.

![image](https://user-images.githubusercontent.co

[2022-05-05 17:16] kevinweaver commented on #1194
Hi @aparcekarl, I just spoke with the security team. We are still in the process of adding Truffle assets to the ConsenSys bounty program.  However, we believe that this find is worth giving a retroactive bounty!

Please submit a report to [HackerOne](https://hackerone.com/consensys) and ask to be redirected to the security team at our request. Given the nature of these two issues stemming from th

[2022-05-05 17:18] #1193 closed

[2022-05-05 17:18] #1194 closed

[2022-05-05 17:29] gnidan commented on #1238
Thanks for reporting this. We'll get these images re-rendered at a higher resolution. Seems like the image optimization methods need reevaluation.

[2022-05-05 21:34] aparcekarl commented on #1193
Thank you so much. Report submitted to hackerone.
https://hackerone.com/reports/1560671

[2022-05-05 21:34] aparcekarl commented on #1194
Thank you so much. Report submitted to hackerone.
https://hackerone.com/reports/1560671

[2022-05-09 22:27] kevinbluer commented on #1215
Example of original view at the following: https://web.archive.org/web/20210227215354/https://www.trufflesuite.com/boxes/metacoin

![image](https://user-images.githubusercontent.com/210755/167508841-0453beb3-022f-4e72-ae15-75608a193a10.png)

[2022-05-12 18:28] MicaiahReid commented on #1148
It seems like we primarily to investigate how pervasive this issue actually is. Are there many old urls that are now broken, or just a few?

Regardless, we need a more robust system that can be used to check existing links before and after the release of our website to make sure this doesn't happen in the future. Also, we need to investigate some way to look at past versions of our site in git to

[2022-05-19 22:06] haltman-at opened #1243 "No documentation of what RPC methods Ganache supports"
Noticed the other day when discussing this stuff with @dongmingh... the website doesn't appear to list anywhere just what RPC methods Ganache supports?  Of course we don't need to necessarily list each one, we can just link to the standard for the standard ones, but we ought to list the nonstandard ones somewhere.

[2022-05-20 19:32] kevinbluer opened #1245 "Spurious "Close Navigation" button on docs left-hand nav"
As per the following screenshot there's a slightly random "Close Navigation" button positioned at the bottom of the [docs](https://trufflesuite.com/docs/truffle/). It also doesn't actually do anything when clicked.

<img width="188" alt="Screen Shot 2022-05-20 at 2 29 21 PM" src="https://user-images.githubusercontent.com/210755/169598640-7e66c2bf-d183-4856-afcb-3e6509b5997e.png">

[2022-05-24 08:31] cipaterson opened #1246 "Improve Install docs for Truffle"
I'd like to mention, in the getting started/install section, the two main problems encountered installing truffle: node-gyp errors, and permission errors.  There are so many support cases opened by users falling at the first hurdle.

I suggest something like this, keeping it very short and easy to read:

---
title: Installation
layout: docs.hbs
---
# Installation

[code]

## Requirements

* NodeJS

[2022-05-26 17:36] dongmingh commented on #1243
Documentation exists, https://github.com/trufflesuite/ganache#documentation,  and needs to be linked.

[2022-05-26 17:46] dongmingh commented on #1246
@cipaterson, thanks for suggesting this. Would you be happy to create a PR for this?  @cds-amal is happy to help if needed.

[2022-05-26 18:31] dongmingh commented on #1199
@leeftk is this something you can look into?

[2022-05-26 19:00] leeftk commented on #1199
I don't understand enough about the issue to be the one to own this. But I'll gladly pair with someone who has a bit more context on what's going on and tackle it with them.

[2022-05-26 19:07] davidmurdoch commented on #1199
@leeftk a bunch of the "Watch Now" buttons don't go anywhere because they are broken, mostly because we lost control of the `trfl.co` domain that was used at the time to redirect to the actual destination. We lost this domain last year, and all the links that went with it.

[2022-05-28 09:47] cipaterson commented on #1246
PR #1249 created.  I hope this or something like it will greatly reduce "Can't install truffle" cases.

[2022-05-31 17:30] kevinweaver opened #1253 "Add security.txt file"
## Issue

The Security team suggested we follow suit with a recent initiative by Metamask to add the https://securitytxt.org/ .well-known file to the website.

## Steps to Reproduce

I should be able to navigate to: https://trufflesuite.com/.well-known/security.txt

## Expected Behavior

I should see a link to https://hackerone.com/consensys for bug bounty submissions.

This could instead direct t

[2022-06-07 20:55] kevinweaver commented on #1208
From the legal team:

Closing this, as it sounds like a non-issue!

[2022-06-07 20:55] #1208 closed

[2022-06-09 17:59] fainashalts commented on #1253
Note to whoever works on this issue: We discussed this in ticket processing, and we've decided we should just create the `security.txt` file rather than a full page for it.

[2022-06-21 17:08] eggplantzzz commented on #1215
Has this issue been resolved with #1250?

[2022-07-07 21:40] kevinweaver commented on #1075
I'm going to remove myself from this issue, as it sounds like there may be a larger ConsenSys initiative for it

[2022-07-12 18:28] davidmurdoch opened #1267 "add documentation for console.sol"

[2022-07-12 21:49] #1207 closed

[2022-07-14 18:32] davidmurdoch opened #1269 "We need a guide for running `truffle debug` with `ganache` (+forking) and/or infura `--url`"
See trufflesuite/truffle#5295 for more context.

[2022-07-19 16:08] kevinbluer commented on #1269
cc @leeftk if you want to pick this one up?

[2022-07-21 17:34] eggplantzzz commented on #1269
cc @leeftk, @cds-amal would be interested in pairing if you end up taking this one !

[2022-07-28 04:34] benjamincburns commented on #569
I'll take this on as part of epic #5368.

[2022-07-28 04:41] benjamincburns commented on #237
@gnidan is there further work that we want to do in this area before we doc this, or do you think we should just doc what we have and call that good?

Personally I'd really like to see instances of TruffleContract be automatically type checked, but I think that's a fairly hefty feature beyond what's been done here?

Either way I can take this on. If you have the time, a quick gist of the important

[2022-07-28 04:49] benjamincburns opened #1276 "Document support for TypeScript migrations"
Per trufflesuite/truffle#4587, and as of trufflesuite/truffle#5222 we can now handle migrations written in TypeScript.

It's probably not a bad idea to let users know about that capability.

[2022-07-28 04:51] benjamincburns opened #1277 "Document support for TypeScript exec scripts"
Upon completion of #5083 we will have support for writing `truffle exec` scripts in TypeScript without needing a separate compile step. We should document that.

[2022-08-04 08:14] benjamincburns opened #1280 "Change recommendation to install truffle locally instead of globally"
Installing truffle locally ensures a consistent experience across a team and (most importantly) their CI. Many mature projects already do this, and we should make it our official recommendation.

It's an open question (please do debate in the comments) as to whether we should recommend against a global install.

On discussion of this issue with @gnidan, he suggested that perhaps we might (on relea

[2022-08-04 13:47] cds-amal commented on #1215
@emilyJLin95, @leeftk  ☝️

[2022-08-05 15:51] emilyJLin95 commented on #1215
Yes! Though I would like to see the GitHub link on the actual box page itself rather than in the gallery view

[2022-08-05 16:12] leeftk commented on #1215
Yea this was resolved. To @emilyJLin95 's point above. I agree on this but we should probs open up a new issue for that separate to this imo.

[2022-08-05 19:51] #1215 closed

[2022-08-05 19:53] emilyJLin95 opened #1282 "Link GitHub Repo on Truffle Box page"
When I link to a specific Truffle box, i.e. React Box, the GitHub repo is not on the page itself. The user will have to go to the Truffle Boxes gallery view to find the actual link.

We should change it such that the link is there on the page itself
Not sure what UI would look like here though

[2022-08-15 22:27] emilyJLin95 opened #1285 "Create new Unleashed Tab"
We want to store our Unleashed content in a separate section. To do this:

- [x] Migrate the PetShop tutorial content into a guide underneath guides
- [x] Use mkdocs redirect so that the Petshop URL will redirect to the new guide
- [x] Instead of the tutorial tab, call it unleashed
- [x] Format it like how it is formatted underneath "blogs"
- [x] Add the first two episode guides (rentable-nft and

[2022-08-16 16:59] emilyJLin95 opened #1287 "Add the Infura NFT SDK box to the boxes page"
We also need to update SDK box to include the box ![nft-musicbox](https://user-images.githubusercontent.com/17280653/184936661-cf776ea8-4508-44d6-9090-802896a441e9.png)

[2022-08-16 17:00] emilyJLin95 opened #1288 "Remove the hubspot chat bot on the front page"

[2022-08-16 17:01] emilyJLin95 opened #1289 "Remove the "awesome companies"/"case studies" part on the website"

[2022-08-17 09:10] xhulz commented on #1285
Hey @emilyJLin95,

The petshop has been added to the guide area.

I did not understand what I have to do about the last one item: `Use mkdocs redirect so that the original guide links redirect to the new location under the unleashed tab`. What I've seen, it's already working, right?

cc @kevinbluer

Cheers

[2022-08-17 16:41] #1285 closed

[2022-08-23 20:47] alexandratran opened #1297 "Document Truffle for VSCode walkthrough"
Document the Truffle walkthrough on the VSCode getting started splash.

See the dev PR: https://github.com/trufflesuite/vscode-ext/pull/148
See this short video for more details: https://www.loom.com/share/d646f00468774211b624d83214059b18

[2022-08-23 20:51] alexandratran opened #1298 "Document VSCode debug network selection"
Enhance debugging documentation to include that you can choose which network to debug against.

See the dev PRs: https://github.com/trufflesuite/vscode-ext/pull/170 and https://github.com/trufflesuite/vscode-ext/pull/186
See the second half of this short video for more information: https://www.loom.com/share/d646f00468774211b624d83214059b18

[2022-08-24 01:58] davidmurdoch opened #1299 "https://trufflesuite.com/docs/ganache/overview 404s"
It's linked to from ethereum.org, so we really need to fix it.

[2022-08-24 21:40] bgravenorst opened #1302 "Document Ganache CLI options"
Document the Ganache CLI options: See https://github.com/trufflesuite/ganache#startup-options

[2022-08-24 22:52] bgravenorst opened #1303 "Migration.sol contract no longer required"
Truffle has removed the requirement to use the Migration.sol contract. This file manages and updates the status of your deployed smart contract.

This contract is mentioned everywhere in the documentation (including the Pet Shop tutorial)

[2022-08-26 21:50] kevinbluer commented on #1299
Addressed in https://github.com/trufflesuite/trufflesuite.com/pull/1305 👌

https://trufflesuite.com/docs/ganache/overview

[2022-09-08 18:09] #1199 closed

[2022-09-08 18:14] lsqproduction commented on #772
For whoever is going to work on this, it is also worth checking README's.

[2022-09-11 11:00] heydamali opened #1311 "Direct link to the Truffle newsletter subscription form"
I'm looking for ways to increase Truffle newsletter signups. One way I was hoping to do that is by adding a link to the newsletter signup form to every blog post going forward, e.g [truffle.com/newsletter-register](http://truffle.com/newsletter-register).

So I'm asking if it's possible to get a link that points directly to the form as opposed to the entire website since the form is currently loca

[2022-09-14 20:30] #1088 closed

[2022-09-23 21:41] alexandratran opened #1317 "Document VSCode "auto-deploy on save" toggle"
Document the VSCode extension auto-deploy functionality for contracts.

See https://github.com/trufflesuite/vscode-ext/pull/227 for more information.

[2022-09-29 17:36] gnidan commented on #1317
Since this feature is scheduled for the 2.6 release, we'll likely want to coordinate documentation efforts around it, so that we release both in sync.

[2022-09-29 18:03] gnidan commented on #1299
Looks like this is done, then! Thanks @kevinbluer!

[2022-09-29 18:03] #1299 closed

[2022-09-29 18:12] gnidan commented on #1303
We'll probably want to do this systematically, since this issue is likely not restricted to trufflesuite.com, but probably also extends to all of our boxes, various READMEs, and who knows what else!

Perhaps it would make sense first to identify all instances of problematic language, then figure out what exactly we want to say instead.

[2022-09-29 18:15] gnidan commented on #1210
This might be done already - will need to check on the Fleek UI side.

[2022-09-29 18:17] gnidan commented on #1210
@kevinbluer confirms that this is done!

[2022-09-29 18:17] #1210 closed

[2022-10-05 08:50] bgravenorst opened #1322 "Restructure the Truffle and Ganache documentation"
Restructure the Trufflesuite docs to be more consistent. Once this is done, then we can edit existing content and make it easier to create future content.

[2022-10-06 19:58] cliffoo commented on #1288
[PR](https://github.com/trufflesuite/trufflesuite.com/pull/1325)

It looks like the bot isn't there at the moment due to cors issues.

[2022-10-11 19:40] kevinbluer opened #1329 "Malformed markdown link on Ganache Quickstart"
At the following https://trufflesuite.com/docs/ganache/quickstart (see "Ganache README"):

<img width="713" alt="Screen Shot 2022-10-11 at 2 39 24 PM" src="https://user-images.githubusercontent.com/210755/195183512-ef5cc2ee-6d37-49a5-afc3-03c3f5ca9000.png">

[2022-10-11 20:03] bgravenorst commented on #1302
See: https://github.com/trufflesuite/trufflesuite.com/pull/1312

[2022-10-13 16:58] #1288 closed

[2022-10-13 17:59] kevinbluer commented on #1289
Will be happening as part of https://github.com/trufflesuite/trufflesuite.com/pull/1332 👍

[2022-10-13 18:16] #1246 closed

[2022-10-13 21:24] kevinbluer commented on #1289
Closing (as above it's addressed in https://github.com/trufflesuite/trufflesuite.com/pull/1332)

[2022-10-13 21:24] #1289 closed

[2022-10-27 18:19] davidmurdoch commented on #1202
This form is what I'm talking about:

![image.png](https://images.zenhubusercontent.com/5b6219c0f38e971f32428c32/a8aa890b-4e50-4ab5-bf32-a33dc187db00)

[2022-10-27 20:55] #1297 closed

[2022-10-27 20:55] #1298 closed

[2022-10-28 15:26] emilyJLin95 opened #1334 "Update installation documentation"
Truffle has dropped support for Node v12 and supports up to Node v18 now
should be able to just do a `npm i -g truffle` without worrying about being on the latest node (@cds-amal is that correct?)

[2022-10-31 21:40] bgravenorst opened #1337 "Remove deprecated networks from VScode"
See: https://github.com/trufflesuite/vscode-ext/pull/250

[2022-11-01 00:01] #1322 closed

[2022-11-01 03:13] cds-amal commented on #1334
Yes, we support Node v14, v16, and v18. We don't support the latest node, v19 and for installing Truffle, you can use the version of `npm` that ships with Node. No more pinning `npm` to v6.

[2022-11-03 18:11] kevinbluer commented on #1148
Hey @Neurone, just to follow-up on this one, we ended up going with `mkdocs-redirects` so I'm going to close it for issue maintenance. Thanks so much for the POC and broader input on this! Cheers!

[2022-11-03 18:11] #1148 closed

[2022-11-03 22:16] OnlyOneJMJQ opened #1339 "Ethereum Overview is Outdated"
The [Ethereum Overview](https://trufflesuite.com/guides/ethereum-overview/) I wrote more than 5 years ago now had had a good run, but at this point it's very outdated. It still references Proof-of-Work consensus for Ethereum, doesn't get into Layer 2 networks or any other advancements made since its initial publishing.

We could either update it or remove it in favor of linking to other Ethereum/b

[2022-11-03 22:20] OnlyOneJMJQ opened #1340 "Truffle quickstart: a bare project has no template"
In the Truffle quickstart there's a line:

The language from How to > Create a project is a great drop-in replacement:

[2022-11-03 22:24] OnlyOneJMJQ opened #1341 "Do we want to include Node.js installation instructions?"
By including our own Node.js installation instructions in How to > Install Truffle, we have to stay in sync with Node's own documentation. We could instead link to Node and nvm's installation instruction based on their OS.

That said, if the docs team is OK maintaining it that's fine by me, just thought it was something that could slip through the cracks easily so I wanted to bring it up.

[2022-11-08 16:51] emilyJLin95 commented on #1334
PR: https://github.com/trufflesuite/trufflesuite.com/pull/1344

questions from @OnlyOneJMJQ
https://github.com/trufflesuite/trufflesuite.com/issues/1341

[2022-11-08 20:59] bgravenorst opened #1345 "Edit Truffle content"
Edit the Truffle documentation to make the content more concise and easier to read.

[2022-11-08 21:00] bgravenorst opened #1346 "Edit the Ganache content"
Edit the Ganache documentation to make the content more concise and easier to read.

[2022-11-08 21:08] alexandratran opened #1347 "[Truffle] Document debugger CLI event log"
Document how to access the debugger CLI event log. See https://github.com/trufflesuite/truffle/pull/5651.

[2022-11-08 21:56] bgravenorst commented on #1339
Perhaps we should link to the [official Ethereum documentation](https://ethereum.org/en/what-is-ethereum/), there's also some really [good content regarding layer 2s](https://ethereum.org/en/layer-2/)

[2022-11-08 23:41] #1340 closed

[2022-11-09 07:23] alexandratran commented on #1337
The VSCode extension docs don't actually name the supported networks anywhere, so there is nothing to remove. There is only one minor mention that [you can deploy contracts to a testnet](https://trufflesuite.com/docs/vscode-ext/quickstart/#deploy-a-smart-contract-to-truffle).

[2022-11-09 20:29] #1317 closed

[2022-11-09 21:59] haltman-at commented on #1347
I did this in #1338, so I'm closing this.

[2022-11-09 21:59] #1347 closed

[2022-11-09 23:30] #1339 closed

[2022-11-10 18:35] cliffoo commented on #1341
Hey @OnlyOneJMJQ it looks like Emily has [put up a PR](https://github.com/trufflesuite/trufflesuite.com/issues/1334) for this. Does this issue need further work or does the PR suffice? Thanks!

[2022-11-10 18:58] cliffoo commented on #1345
Hey @bgravenorst did you intend this issue to be an umbrella to capture all docs-related issues?

[2022-11-10 19:28] bgravenorst commented on #1345
Hi @cliffoo, no this is just to go through the doc to fix up language-related issues and improve readability.

[2022-11-10 22:46] kevinbluer commented on #1165
Just adding a take on this one at the request of @bgravenorst. First up, I'm a little confused because as far as I can tell the signature is `MyContract.new([arg1, arg2, ...], object)` meaning the current title is incorrect (also in using `object` in keeping with a latter [example's signature](https://trufflesuite.com/docs/truffle/reference/contract-abstractions/#mycontractlinkobject) convention).

[2022-11-10 23:31] davidmurdoch commented on #1165
`MyContract.new([arg1, arg2, ...], object)` seems like it is saying that the first argument is an array, but it isn't; it is a singular argument.

[2022-11-11 00:26] kevinbluer commented on #1165
Are you sure? I could be missing something here but I was trying it locally earlier...
[code]
...creating an instance of a contract with the following constructor: `constructor(uint hello) { }`

[2022-11-11 00:56] davidmurdoch commented on #1165
Going to ping @eggplantzzz and @cds-amal, as we all were looking into this together back then.

[2022-11-11 14:05] cds-amal commented on #1165
Yea, it is a confusing signature. Posix-ish way would be to describe a similar CLI syntax would be:
 `new <arg>... [ <transactionParamObj> ]` which doesn't translate easily for JS. `Contract.new` has variadic arguments, and the last one is possibly a transaction parameter object.

 @kevinbluer my intuition is if you were to try `let s = await SimpleStorage.new([1,1], { from: accounts[1], gasPrice:

[2022-11-11 18:31] haltman-at commented on #1165
Do you mean 257?  Yeah that would either be 257 or an error, I forget which offhand.

[2022-11-11 18:41] acuarica opened #1354 "Document how to trigger the VS Code extension's debugger from `launch.json` and shell"
Currently, the VS Code extension's debugger can be triggered from three main places:

_1._ The `Truffle: Debug Transaction` command,
_2._ The [launch configuration](https://code.visualstudio.com/docs/editor/debugging#_launch-configurations) using a `launch.json` configuration file, or
_3._ A shell command using the VS Code protocol (implemented in https://github.com/trufflesuite/vscode-ext/pull/23

[2022-11-12 03:37] cds-amal commented on #1165
Yea, 257. *sigh*

[2022-11-18 00:57] haltman-at opened #1358 "More broken links/images"
On running the site locally, I get the following warnings:

[code]

Presumably these are broken and need to be fixed!

[2022-11-18 01:31] haltman-at opened #1360 "Incorrect processing of 4th-level headers (####) -- they're way too big!"
If you use `####` in a documentation page, rather than being displayed as a 4th-level header, smaller than a `###`, it ends up being displayed huge, way bigger!  You can see this for instance here: https://trufflesuite.com/docs/truffle/reference/configuration/#providers

Here, "Providers" is supposed to be a 4th-level header, smaller than ["console"](https://trufflesuite.com/docs/truffle/reference

[2022-11-18 01:34] #1337 closed

[2022-11-18 23:18] haltman-at commented on #1360
Closing this as #1363 is merged!

[2022-11-18 23:18] #1360 closed

[2022-11-23 19:55] #1302 closed

[2022-11-29 00:44] jeffsmale90 opened #1366 "Add documentation for Ganache detach-mode"
https://github.com/trufflesuite/ganache/pull/3568

[2022-11-29 20:16] #1329 closed

[2022-11-29 21:31] davidmurdoch opened #1368 "Add an interactive REPL-like or Monaco (IDE) to website under Ganache documentation"
Ganache can run in the browser, and while we will have Interactive Docs Soon:tm: , it's be useful to also have a playground somewhere within the ganache docs that isn't focused on being reference documentation, but acts as a quick demonstration of how to use ganache and what it does.

Perhaps a "tutorial mode", al la, mongodb's old try.mongodb.com (see https://www.mongodb.com/blog/post/the-mongodb